# Import Packages and Data

In [38]:
import pandas as pd
import numpy as np
import os

import warnings 
warnings.filterwarnings('ignore')

# Raw Data

In [39]:
cwd = os.getcwd()

date = '1_30_2024'

rd = pd.read_csv(cwd + '/ImportData/RawData/HLCS_RawData_'+ date + '.csv').rename(columns={'Death': 'Deaths'})

# rd['Player'][166] = 'Cobi'
# rd['Champion'][166] = 'Mordekaiser'

rd

,Player,Role,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
0,NaN,NaN,Rengar,Ban,Blue,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
1,NaN,NaN,Xin Zhao,Ban,Red,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
2,NaN,NaN,Riven,Ban,Blue,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
3,NaN,NaN,Yasuo,Ban,Red,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
4,NaN,NaN,Jhin,Ban,Blue,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,NaN,NaN,Mordekaiser,Ban,Blue,5.0,13.0,3.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
646,Bobby,Middle,Akali,Pick,Red,3.0,13.0,3.0,17.0,5.0,14.0,178.0,21.0,83.83,42673.0
647,Basil,Top,Yorick,Pick,Blue,3.0,13.0,3.0,2.0,9.0,1.0,179.0,9.0,-14.76,12400.0
648,Miggy,Middle,Ekko,Pick,Blue,3.0,13.0,3.0,3.0,9.0,5.0,113.0,11.0,-3.32,7622.0
649,Cobi,Top,Urgot,Pick,Red,4.0,13.0,3.0,5.0,3.0,10.0,184.0,14.0,33.54,20286.0

### Clean Data

In [41]:
rd = rd.dropna(how='all')

# Season Selection
rd = rd[rd['Series #'] >= 4]

rd

,Player,Role,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
105,NaN,NaN,Malphite,Ban,Blue,1.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
106,NaN,NaN,Jarvan IV,Ban,Red,1.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
107,NaN,NaN,Rengar,Ban,Blue,2.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
108,NaN,NaN,Trundle,Ban,Red,2.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
109,NaN,NaN,Blitzcrank,Ban,Blue,3.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,NaN,NaN,Mordekaiser,Ban,Blue,5.0,13.0,3.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
646,Bobby,Middle,Akali,Pick,Red,3.0,13.0,3.0,17.0,5.0,14.0,178.0,21.0,83.83,42673.0
647,Basil,Top,Yorick,Pick,Blue,3.0,13.0,3.0,2.0,9.0,1.0,179.0,9.0,-14.76,12400.0
648,Miggy,Middle,Ekko,Pick,Blue,3.0,13.0,3.0,3.0,9.0,5.0,113.0,11.0,-3.32,7622.0
649,Cobi,Top,Urgot,Pick,Red,4.0,13.0,3.0,5.0,3.0,10.0,184.0,14.0,33.54,20286.0

### Get Only Player Stats

In [42]:
raw_ps = rd.loc[rd['Pick Ban'] == 'Pick']
raw_ps

,Player,Role,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
111,Woosung,Support,Lux,Pick,Blue,1.0,4.0,1.0,6.0,2.0,17.0,43.0,39.0,54.38,18662.0
112,Anthony,Bottom,Kai'sa,Pick,Red,1.0,4.0,1.0,5.0,7.0,3.0,153.0,8.0,6.93,11996.0
113,Cobi,Support,Leona,Pick,Red,1.0,4.0,1.0,0.0,10.0,7.0,24.0,16.0,-14.96,4766.0
114,Hubert,Bottom,Jhin,Pick,Blue,2.0,4.0,1.0,9.0,1.0,13.0,158.0,13.0,61.23,15579.0
115,Declan,Mid,Vladimir,Pick,Blue,2.0,4.0,1.0,4.0,2.0,12.0,129.0,15.0,36.04,13705.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,Nathan,Bottom,Nilah,Pick,Red,2.0,13.0,3.0,12.0,4.0,9.0,170.0,18.0,56.60,24594.0
646,Bobby,Middle,Akali,Pick,Red,3.0,13.0,3.0,17.0,5.0,14.0,178.0,21.0,83.83,42673.0
647,Basil,Top,Yorick,Pick,Blue,3.0,13.0,3.0,2.0,9.0,1.0,179.0,9.0,-14.76,12400.0
648,Miggy,Middle,Ekko,Pick,Blue,3.0,13.0,3.0,3.0,9.0,5.0,113.0,11.0,-3.32,7622.0
649,Cobi,Top,Urgot,Pick,Red,4.0,13.0,3.0,5.0,3.0,10.0,184.0,14.0,33.54,20286.0

### Convert to Int

In [43]:
for c in ['Order', 'Series #', 'Game #', 'Kills', 'Deaths', 'Assists', 'CS', 'Vision Score', 'Damage Dealt']:
    raw_ps[c] = raw_ps[c].apply(int)
raw_ps

,Player,Role,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
111,Woosung,Support,Lux,Pick,Blue,1,4,1,6,2,17,43,39,54.38,18662
112,Anthony,Bottom,Kai'sa,Pick,Red,1,4,1,5,7,3,153,8,6.93,11996
113,Cobi,Support,Leona,Pick,Red,1,4,1,0,10,7,24,16,-14.96,4766
114,Hubert,Bottom,Jhin,Pick,Blue,2,4,1,9,1,13,158,13,61.23,15579
115,Declan,Mid,Vladimir,Pick,Blue,2,4,1,4,2,12,129,15,36.04,13705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,Nathan,Bottom,Nilah,Pick,Red,2,13,3,12,4,9,170,18,56.60,24594
646,Bobby,Middle,Akali,Pick,Red,3,13,3,17,5,14,178,21,83.83,42673
647,Basil,Top,Yorick,Pick,Blue,3,13,3,2,9,1,179,9,-14.76,12400
648,Miggy,Middle,Ekko,Pick,Blue,3,13,3,3,9,5,113,11,-3.32,7622
649,Cobi,Top,Urgot,Pick,Red,4,13,3,5,3,10,184,14,33.54,20286

In [6]:
# player_stats2 = player_stats.copy()
# player_stats2['Fantasy Score'] = player_stats2['Kills']*4 - player_stats2['Deaths']*3 + player_stats2['Assists']*2 + player_stats2['CS']*0.01 + player_stats2['Vision Score']*0.05
# player_stats2

# Game Records

In [44]:
gr = pd.read_csv(cwd + '/ImportData/GameRecords/HLCS_GameRecords_'+ date + '.csv').dropna(axis=1)
gr

,Date,Series #,Game #,Blue Side,Red Side,Winning Side,Length,Winning Team Gold,Losing Team Gold,Winning Team Kills,Losing Team Kills,Forfeit
0,4/16/2023,1,1,Jason Nguyengards,Taewonnies,Blue,44:38,80254,74816,40,23,False
1,4/16/2023,2,1,Taewonnies,The Founders,Blue,36:32,70853,57956,32,18,False
2,4/16/2023,3,1,The Founders,Jason Nguyengards,Blue,40:58,74186,59663,31,13,False
3,4/30/2023,1,2,Taewonnies,Jason Nguyengards,Blue,26:40,52265,41261,29,11,False
4,4/30/2023,2,2,The Founders,Taewonnies,Red,35:36,66563,52974,27,12,False
5,9/2/2023,4,1,Quintessential Quintuplets,Taewonnies,Blue,25:07,48734,37377,31,9,False
6,9/2/2023,4,2,Taewonnies,Quintessential Quintuplets,Blue,26:07,35004,25886,18,8,True
7,9/2/2023,4,3,Quintessential Quintuplets,Taewonnies,Blue,34:54,68937,60256,32,22,False
8,9/23/2023,5,1,JSA EBOYS,Triple T,Red,36:40,68560,57739,29,20,False
9,9/23/2023,5,2,Triple T,JSA EBOYS,Red,64:35,128319,119728,50,41,False
10,9/29/2023,6,1,Basil's Dazzles,Liam's Premiums,Blue,31:00,63623,49905,37,15,False
11,9/29/2023,6,2,Liam's Premiums,Basil's Dazzles,Blue,28:55,63330,49871,38,23,False
12,9/29/2023,6,3,Basil's Dazzles,Liam's Premiums,Red,36:55,74209,70158,40,38,False
13,10/13/2023,7,1,Net Knights,Zazazoso Smokers,Blue,37:45,74039,70973,46,43,False
14,10/13/2023,7,2,Zazazoso Smokers,Net Knights,Red,32:21,62185,55959,23,23,False
15,10/21/2023,8,1,Jordan's Jorts,Sammy's Hammies,Red,31:15,61878,56471,21,27,False
16,10/21/2023,8,2,Sammy's Hammies,Jordan's Jorts,Blue,42:41,82206,74799,35,32,False
17,11/4/2023,9,1,The J-Team,The Steph Kuris,Blue,29:08,61369,47626,38,19,False
18,11/4/2023,9,2,The Steph Kuris,The J-Team,Red,32:17,63345,50777,27,19,False
19,11/12/2023,10,1,Team Streaks,Team Cupid,Red,39:10,74140,65845,29,20,False
20,11/12/2023,10,2,Team Cupid,Team Streaks,Red,42:34,79732,76864,41,29,False
21,11/12/2023,10,3,Team Streaks,Team Cupid,Red,27:28,59447,41945,33,11,False
22,11/25/2023,11,1,SEA-man + Sammy,Penta J Threat,Red,29:58,63713,48553,31,12,False
23,11/25/2023,11,2,Penta J Threat,SEA-man + Sammy,Red,32:57,71069,55547,40,22,False
24,11/25/2023,11,3,SEA-man + Sammy,Penta J Threat,Red,26:56,56387,44237,29,10,False
25,12/9/2023,12,1,Fatal Association,Team Esports Club,Red,34:26,66545,58846,30,18,False
26,12/9/2023,12,2,The Basilless,Fatal Association,Blue,28:05,59261,46306,31,18,False
27,12/9/2023,12,3,Team Esports Club,The Basilless,Blue,30:54,66438,61797,35,36,False
28,1/9/2024,13,1,Quieero's Team,Baron Nashor Miguel,Blue,27:24,60361,48292,34,24,False
29,1/9/2024,13,2,Baron Nashor Miguel,Quieero's Team,Blue,33:42,66476,66959,42,31,False
30,1/9/2024,13,3,Quieero's Team,Baron Nashor Miguel,Red,28:45,68952,51521,54,21,False

### Round Up Game Length

In [45]:
gr['Length'] = pd.Series(l.split(':')[0] for l in gr['Length']).apply(int) + 1
gr

,Date,Series #,Game #,Blue Side,Red Side,Winning Side,Length,Winning Team Gold,Losing Team Gold,Winning Team Kills,Losing Team Kills,Forfeit
0,4/16/2023,1,1,Jason Nguyengards,Taewonnies,Blue,45,80254,74816,40,23,False
1,4/16/2023,2,1,Taewonnies,The Founders,Blue,37,70853,57956,32,18,False
2,4/16/2023,3,1,The Founders,Jason Nguyengards,Blue,41,74186,59663,31,13,False
3,4/30/2023,1,2,Taewonnies,Jason Nguyengards,Blue,27,52265,41261,29,11,False
4,4/30/2023,2,2,The Founders,Taewonnies,Red,36,66563,52974,27,12,False
5,9/2/2023,4,1,Quintessential Quintuplets,Taewonnies,Blue,26,48734,37377,31,9,False
6,9/2/2023,4,2,Taewonnies,Quintessential Quintuplets,Blue,27,35004,25886,18,8,True
7,9/2/2023,4,3,Quintessential Quintuplets,Taewonnies,Blue,35,68937,60256,32,22,False
8,9/23/2023,5,1,JSA EBOYS,Triple T,Red,37,68560,57739,29,20,False
9,9/23/2023,5,2,Triple T,JSA EBOYS,Red,65,128319,119728,50,41,False
10,9/29/2023,6,1,Basil's Dazzles,Liam's Premiums,Blue,32,63623,49905,37,15,False
11,9/29/2023,6,2,Liam's Premiums,Basil's Dazzles,Blue,29,63330,49871,38,23,False
12,9/29/2023,6,3,Basil's Dazzles,Liam's Premiums,Red,37,74209,70158,40,38,False
13,10/13/2023,7,1,Net Knights,Zazazoso Smokers,Blue,38,74039,70973,46,43,False
14,10/13/2023,7,2,Zazazoso Smokers,Net Knights,Red,33,62185,55959,23,23,False
15,10/21/2023,8,1,Jordan's Jorts,Sammy's Hammies,Red,32,61878,56471,21,27,False
16,10/21/2023,8,2,Sammy's Hammies,Jordan's Jorts,Blue,43,82206,74799,35,32,False
17,11/4/2023,9,1,The J-Team,The Steph Kuris,Blue,30,61369,47626,38,19,False
18,11/4/2023,9,2,The Steph Kuris,The J-Team,Red,33,63345,50777,27,19,False
19,11/12/2023,10,1,Team Streaks,Team Cupid,Red,40,74140,65845,29,20,False
20,11/12/2023,10,2,Team Cupid,Team Streaks,Red,43,79732,76864,41,29,False
21,11/12/2023,10,3,Team Streaks,Team Cupid,Red,28,59447,41945,33,11,False
22,11/25/2023,11,1,SEA-man + Sammy,Penta J Threat,Red,30,63713,48553,31,12,False
23,11/25/2023,11,2,Penta J Threat,SEA-man + Sammy,Red,33,71069,55547,40,22,False
24,11/25/2023,11,3,SEA-man + Sammy,Penta J Threat,Red,27,56387,44237,29,10,False
25,12/9/2023,12,1,Fatal Association,Team Esports Club,Red,35,66545,58846,30,18,False
26,12/9/2023,12,2,The Basilless,Fatal Association,Blue,29,59261,46306,31,18,False
27,12/9/2023,12,3,Team Esports Club,The Basilless,Blue,31,66438,61797,35,36,False
28,1/9/2024,13,1,Quieero's Team,Baron Nashor Miguel,Blue,28,60361,48292,34,24,False
29,1/9/2024,13,2,Baron Nashor Miguel,Quieero's Team,Blue,34,66476,66959,42,31,False
30,1/9/2024,13,3,Quieero's Team,Baron Nashor Miguel,Red,29,68952,51521,54,21,False

In [9]:
# Wins
# Losses 
# Win Percentage 
# Kills *
# Deaths *
# Assists *
# KDA 
# CS *
# Vision Score *
# Fantasy Score *
# Average Score 
# Total Kills of Team 
# Kill Participation 
# Minutes Played 
# CS/Min 
# Average CS/Min 
# Average Kills
# Average Deaths 
# Average Assists

In [10]:
# ryan = raw_ps.loc[raw_ps['Player'] == 'Ryan'].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])
# ryan

In [11]:
# ryan_wins = np.count_nonzero((ryan['Blue Red'] == ryan['Winning Side']))
# print("wins:", ryan_wins)

# ryan_losses = np.count_nonzero((ryan['Blue Red'] == ryan['Winning Side']) == 0)
# print("Losses:", ryan_losses)

# print("Win Percentage:", ryan_wins / (ryan_wins + ryan_losses) * 100)

# ryan_kills = sum(ryan['Kills'])
# print('Kills:', ryan_kills)

# ryan_deaths = sum(ryan['Deaths'])
# print('Deaths:', ryan_deaths)

# ryan_assists = sum(ryan['Assists'])
# print('Assists:', ryan_assists)

# print("KDA:", (ryan_kills + ryan_assists) / ryan_deaths)

# ryan_cs = sum(ryan['CS'])
# print('CS:', ryan_cs)

# ryan_vision_score = sum(ryan['Vision Score'])
# print('Vision Score:', ryan_vision_score)

# ryan_fantasy_score = sum(ryan['Fantasy Score'])
# print('Fantasy Score:', ryan_fantasy_score)

# print('Average Fantasy Score:', ryan_fantasy_score / (ryan_wins + ryan_losses))

# ryan_total_kills = sum(ryan.loc[ryan['Blue Red'] == ryan['Winning Side']]['Winning Team Kills']) + sum(ryan.loc[(ryan['Blue Red'] == ryan['Winning Side']) == 0]['Losing Team Kills'])
# print('Total Kills of Team:', ryan_total_kills)

# print('Kill Participation:', (ryan_kills + ryan_assists) / ryan_total_kills) 

# ryan_minutes = sum(ryan['Length'])
# print('Minutes Played:', ryan_minutes) 

# ryan_csmin = sum(ryan['CS']) / ryan_minutes
# print('CS/Min:', ryan_csmin) 

# print('Average CS/Min:', ryan_csmin / (ryan_wins + ryan_losses)) 

# print('Average Kills:', ryan_kills / (ryan_wins + ryan_losses)) 

# print('Average Deaths:', ryan_deaths / (ryan_wins + ryan_losses)) 

# print('Average Assists', ryan_assists / (ryan_wins + ryan_losses))

# Player Stats

In [46]:
# return row of stats for given player

def get_stats(player, champion = False):
    
    if champion:
        ps_gr = raw_ps.loc[raw_ps['Champion'] == player].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])
    else:
        ps_gr = raw_ps.loc[raw_ps['Player'] == player].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])

    wins = np.count_nonzero((ps_gr['Blue Red'] == ps_gr['Winning Side']))

    losses = np.count_nonzero((ps_gr['Blue Red'] == ps_gr['Winning Side']) == 0)

    win_p = round(wins / (wins + losses), 3)

    kills = sum(ps_gr['Kills'])

    deaths = sum(ps_gr['Deaths'])

    assists = sum(ps_gr['Assists'])

    if deaths == 0:
        kda = kills + assists
    else:
        kda = round((kills + assists) / deaths, 3)

    cs = sum(ps_gr['CS'])

    vision_score = sum(ps_gr['Vision Score'])

    avg_vision_score = round(vision_score / (wins + losses), 3)

    fantasy_score = sum(ps_gr['Fantasy Score'])

    avg_fantasy_score = round(fantasy_score / (wins + losses), 3)

    total_kills = sum(ps_gr.loc[ps_gr['Blue Red'] == ps_gr['Winning Side']]['Winning Team Kills']) + sum(ps_gr.loc[(ps_gr['Blue Red'] == ps_gr['Winning Side']) == 0]['Losing Team Kills'])

    kp = round((kills + assists) / total_kills, 3)

    minutes = sum(ps_gr['Length'])

    csmin = round(sum(ps_gr['CS']) / minutes, 3)

    avg_kills = round(kills / (wins + losses), 3)

    avg_deaths = round(deaths / (wins + losses), 3)

    avg_assists = round(assists / (wins + losses), 3)

    kpm = round(kills / minutes, 3)

    dpm = round(deaths / minutes, 3)

    apm = round(assists / minutes, 3)

    damage_dealt = sum(ps_gr['Damage Dealt'])

    ddpm = round(damage_dealt / minutes, 3)

    return [player, wins, losses, win_p, kills, deaths, assists, kda, cs, vision_score, avg_vision_score, fantasy_score, avg_fantasy_score, total_kills, kp, minutes, csmin, avg_kills, avg_deaths, avg_assists, kpm, dpm, apm, damage_dealt, ddpm]

In [47]:
final_ps = pd.DataFrame(columns=['Player', 'Wins', 'Losses', 'Win Percentage', 'Kills', 'Deaths', 'Assists', 'KDA', 'CS', 'Vision Score', 'Average Vision Score', 'Fantasy Score', 'Average Score' , 'Total Kills of Team' , 'Kill Participation' , 'Minutes Played' , 'CS/Min' , 'Average Kills', 'Average Deaths', 'Average Assists', 'Kills/Minute', 'Deaths/Minute', 'Assists/Minute', 'Damage Dealt', 'DPM'])

In [48]:
for p in raw_ps['Player'].unique():
    final_ps.loc[len(final_ps)] = get_stats(p)

In [49]:
final_ps = final_ps.sort_values(by=['Average Score', 'Win Percentage', 'Wins'], ascending=False).reset_index(drop=True)
final_ps

,Player,Wins,Losses,Win Percentage,Kills,Deaths,Assists,KDA,CS,Vision Score,...,Minutes Played,CS/Min,Average Kills,Average Deaths,Average Assists,Kills/Minute,Deaths/Minute,Assists/Minute,Damage Dealt,DPM
0,Liam,3,6,0.333,83,52,96,3.442,2408,199,...,346,6.960,9.222,5.778,10.667,0.240,0.150,0.277,324415,937.616
1,Jason,6,3,0.667,66,41,83,3.634,2256,356,...,329,6.857,7.333,4.556,9.222,0.201,0.125,0.252,244969,744.587
2,Bobby,8,1,0.889,92,63,69,2.556,1933,172,...,303,6.380,10.222,7.000,7.667,0.304,0.208,0.228,308385,1017.772
3,Jordan,10,8,0.556,150,102,124,2.686,3916,535,...,565,6.931,8.333,5.667,6.889,0.265,0.181,0.219,363338,643.076
4,Jason Canto,8,4,0.667,65,44,117,4.136,2278,278,...,405,5.625,5.417,3.667,9.750,0.160,0.109,0.289,233055,575.444
5,Quio,10,11,0.476,146,122,185,2.713,4568,556,...,715,6.389,6.952,5.810,8.810,0.204,0.171,0.259,577612,807.849
6,Nathan,2,1,0.667,23,16,21,2.750,507,53,...,91,5.571,7.667,5.333,7.000,0.253,0.176,0.231,58084,638.286
7,Anthony,11,9,0.550,156,116,134,2.500,4437,484,...,703,6.312,7.800,5.800,6.700,0.222,0.165,0.191,459102,653.061
8,Stephanie,0,2,0.000,15,10,12,2.700,415,28,...,63,6.587,7.500,5.000,6.000,0.238,0.159,0.190,45061,715.254
9,xTiny,2,0,1.000,14,12,14,2.333,348,34,...,66,5.273,7.000,6.000,7.000,0.212,0.182,0.212,26835,406.591
10,Declan,3,5,0.375,39,33,66,3.182,1344,171,...,249,5.398,4.875,4.125,8.250,0.157,0.133,0.265,152199,611.241
11,Hubert,8,14,0.364,129,137,203,2.423,3166,702,...,738,4.290,5.864,6.227,9.227,0.175,0.186,0.275,389053,527.172
12,Meagan,2,0,1.000,7,13,28,2.692,93,130,...,66,1.409,3.500,6.500,14.000,0.106,0.197,0.424,33734,511.121
13,Woosung,9,14,0.391,99,127,242,2.685,2205,1092,...,778,2.834,4.304,5.522,10.522,0.127,0.163,0.311,313613,403.102
14,Cobi,11,11,0.500,125,131,179,2.321,3249,447,...,755,4.303,5.682,5.955,8.136,0.166,0.174,0.237,428199,567.151
15,Wilfred,3,2,0.600,30,29,29,2.034,1198,95,...,174,6.885,6.000,5.800,5.800,0.172,0.167,0.167,97872,562.483
16,Basil,8,8,0.500,97,99,99,1.980,3344,362,...,539,6.204,6.062,6.188,6.188,0.180,0.184,0.184,309987,575.115
17,Sam,13,12,0.520,73,151,289,2.397,2670,1233,...,849,3.145,2.920,6.040,11.560,0.086,0.178,0.340,366370,431.531
18,Chris,3,3,0.500,13,26,40,2.038,1028,178,...,219,4.694,2.167,4.333,6.667,0.059,0.119,0.183,68052,310.740
19,Miggy,6,12,0.333,48,118,154,1.712,2336,339,...,627,3.726,2.667,6.556,8.556,0.077,0.188,0.246,199073,317.501
20,Hunter,2,4,0.333,11,29,25,1.241,742,136,...,189,3.926,1.833,4.833,4.167,0.058,0.153,0.132,73600,389.418
21,Bwosley,2,0,1.000,4,17,11,0.882,266,54,...,71,3.746,2.000,8.500,5.500,0.056,0.239,0.155,26795,377.394

In [50]:
# final_ps.to_csv(cwd + '/ExportData/PlayerStats/HLCS_player_statistics_'+ date + '.csv', index=False)

final_ps.to_csv(cwd + '/S2_HLCS_player_statistics.csv', index=False)

# Role Analysis

## Flexibility Scores

In [13]:
# ryan_roles = raw_ps[raw_ps['Player'] == 'Ryan']['Role'].value_counts()

# ryan_top = 0
# ryan_jungle = 0
# ryan_mid = 0
# ryan_bottom = 0
# ryan_support = 0

# for i in range(len(ryan_roles)):
#     match ryan_roles.index[i]:
#         case 'Top':
#             ryan_top = ryan_roles[i]
#         case 'Jungle':
#             ryan_jungle = ryan_roles[i]
#         case 'Mid':
#             ryan_mid = ryan_roles[i]
#         case 'Bottom':
#             ryan_bottom = ryan_roles[i]
#         case 'Support':
#             ryan_support = ryan_roles[i]

# ryan_flex_score = 1 - np.std([ryan_top, ryan_jungle, ryan_mid, ryan_bottom, ryan_support] / (ryan_top + ryan_jungle + ryan_mid + ryan_bottom + ryan_support), ddof=1)
# ryan_flex_score

In [14]:
def get_roles(player):
    roles = raw_ps[raw_ps['Player'] == player]['Role'].value_counts()

    top = 0
    jungle = 0
    mid = 0
    bottom = 0
    support = 0

    for i in range(len(roles)):
        match roles.index[i]:
            case 'Top':
                top = roles[i]
            case 'Jungle':
                jungle = roles[i]
            case 'Mid':
                mid = roles[i]
            case 'Bottom':
                bottom = roles[i]
            case 'Support':
                support = roles[i]

    flex_score = 1 - np.std([top, jungle, mid, bottom, support] / (top + jungle + mid + bottom + support), ddof=4)

    return [player, top, jungle, mid, bottom, support, flex_score]

In [15]:
flex_scores = pd.DataFrame(columns=['Player', 'Top', 'Jungle', 'Mid', 'Bottom', 'Support', 'Flex Score'])

for p in raw_ps['Player'].unique():
    flex_scores.loc[len(flex_scores)] = get_roles(p)

In [16]:
flex_scores = flex_scores.sort_values(by='Flex Score', ascending=False).reset_index(drop=True)
flex_scores

         Player  Top  Jungle  Mid  Bottom  Support  Flex Score
0         Chris    3       2    1       1        2    0.814076
1          Quio    6       7    4       7        1    0.796039
2           Sam    1       7    4       2       13    0.642444
3          Ryan    0       1    1       0        1    0.634852
4   Jason Canto    2       0    2       5        1    0.625834
5         Jason    1       6    2       1        1    0.605828
6       Bwosley    2       0    2       0        1    0.600000
7        Hubert    2       2    0      11        7    0.590404
8       Woosung    3       9    0       0       14    0.527690
9          Liam    0       5    1       3        0    0.518234
10         Cobi   14       1    2       0        7    0.516236
11       Jordan    3      11    0       4        0    0.499383
12    Stephanie    0       0    1       1        0    0.452277
13        Bobby    4       0    3       0        0    0.443040
14        Basil   13       6    1       0        0    0.438751
15        Miggy    0       0   10       0        7    0.438243
16       Eunice    0       0    2       0        1    0.403715
17       Hunter    4       0    0       0        2    0.403715
18       Declan    1       0    8       2        0    0.391520
19      Anthony    2       0    2      20        0    0.287025
20        xTiny    0       0    0       2        0    0.105573
21       Nathan    0       0    0       3        0    0.105573
22       Meagan    0       0    0       0        3    0.105573
23      Wilfred    0       4    0       0        0    0.105573
24         Sean    0       2    0       0        0    0.105573

In [17]:
flex_scores.to_csv(cwd + '/ExportData/FlexScores/HLCS_flex_scores_'+ date + '.csv', index=False)

## All-Pro

In [18]:
def get_role_scores(player):

    scores = [player]

    for r in ['Top', 'Jungle', 'Mid', 'Bottom', 'Support']:
        scores.append(np.sum(raw_ps[raw_ps['Player'] == player][raw_ps['Role'] == r]['Fantasy Score']))

    return scores

In [19]:
role_scores = pd.DataFrame(columns=['Player', 'Top', 'Jungle', 'Mid', 'Bottom', 'Support'])

for p in raw_ps['Player'].unique():
    role_scores.loc[len(role_scores)] = get_role_scores(p)

In [20]:
def get_player_champion_stats(player, champion):
    games = len(raw_ps[raw_ps['Player'] == player][raw_ps['Champion'] == champion])
    average_fantasy_score = round(np.mean(raw_ps[raw_ps['Player'] == player][raw_ps['Champion'] == champion]['Fantasy Score']), 3)
    variance = round(np.std(raw_ps[raw_ps['Player'] == player][raw_ps['Champion'] == champion]['Fantasy Score']), 3)

    return [player, champion, games, average_fantasy_score, variance]

In [21]:
player_champion_stats = pd.DataFrame(columns=['Player', 'Champion', 'Games Played', 'Average Fantasy Score', 'Standard Deviation'])

for p in np.unique(raw_ps['Player']):
    for c in np.unique(raw_ps[raw_ps['Player'] == p]['Champion']):
        player_champion_stats.loc[len(player_champion_stats)] = get_player_champion_stats(p, c)

In [22]:
player_champion_stats[player_champion_stats['Games Played'] > 1].sort_values(by='Average Fantasy Score', ascending=False)

,Player,Champion,Games Played,Average Fantasy Score,Standard Deviation
87,Jason,Gangplank,2,72.605,5.435
16,Basil,Kindred,2,54.120,24.500
20,Basil,Shaco,2,53.120,18.630
150,Quio,Rengar,2,49.655,42.045
3,Anthony,Jinx,4,49.405,13.804
5,Anthony,Kalista,4,45.793,37.596
110,Jordan,Hecarim,3,45.540,7.423
144,Quio,Ezreal,3,45.357,32.865
58,Declan,Syndra,3,41.137,16.884
51,Cobi,Urgot,3,41.000,15.900
4,Anthony,Kai'sa,5,37.430,20.863
147,Quio,Jax,2,37.385,2.695
66,Hubert,Jhin,4,36.973,26.345
168,Sam,Seraphine,2,36.730,6.960
116,Jordan,Trundle,3,36.727,17.593
169,Sam,Swain,5,35.828,27.478
80,Hubert,Xayah,2,33.115,9.585
183,Woosung,Lux,5,32.940,14.265
28,Bobby,Yasuo,2,32.195,8.045
117,Jordan,Tryndamere,2,31.810,15.970
43,Cobi,Blitzcrank,6,31.108,8.177
187,Woosung,Pyke,3,30.393,23.384
23,Bobby,Jax,2,28.720,6.800
155,Quio,Xayah,3,28.713,26.078
159,Sam,Amumu,6,28.590,11.924
115,Jordan,Rengar,3,28.157,6.644
57,Declan,Orianna,3,27.030,25.969
107,Jason Canto,Varus,2,26.920,6.320
11,Basil,Gnar,4,26.442,10.368
163,Sam,Morgana,2,26.125,1.675
65,Hubert,Ezreal,2,25.465,19.155
46,Cobi,Malphite,2,25.425,3.625
180,Woosung,Alistar,5,25.336,20.654
157,Ryan,Morgana,2,24.575,16.005
2,Anthony,Jhin,5,23.996,11.259
189,Woosung,Vi,4,23.055,21.062
44,Cobi,Garen,5,22.310,10.767
145,Quio,Graves,2,21.990,4.720
152,Quio,Sion,3,19.887,5.079
120,Liam,Bel'veth,2,19.130,19.350
19,Basil,Riven,2,18.290,18.750
12,Basil,Irelia,2,17.035,11.835
79,Hubert,Vi,2,14.795,19.215
167,Sam,Rell,2,13.980,29.890
74,Hubert,Pantheon,2,12.500,2.270
165,Sam,Nautilus,6,11.872,12.345
136,Miggy,Seraphine,6,11.333,20.294
49,Cobi,Mordekaiser,3,11.167,26.705
190,Woosung,Xin Zhao,2,10.680,5.880
137,Miggy,Vex,4,9.822,17.803
47,Cobi,Malzahar,2,7.340,18.520
188,Woosung,Sejuani,2,6.735,13.785
130,Miggy,Ekko,2,5.220,8.540
131,Miggy,Galio,3,4.567,18.212
84,Hunter,Ornn,2,3.235,11.435
10,Basil,Aatrox,2,2.255,0.195
134,Miggy,Pyke,2,1.885,6.575
45,Cobi,Leona,2,1.790,16.750
132,Miggy,Malzahar,2,1.380,7.300

In [23]:
champion_pool = pd.DataFrame(columns=['Player', 'Champions Played'])

played_champions = []
for p in np.unique(raw_ps['Player']):
    played_champions.append(len(np.unique(raw_ps[raw_ps['Player'] == p]['Champion'])))

champion_pool['Player'] = np.unique(raw_ps['Player'])
champion_pool['Champions Played'] = played_champions

champion_pool.sort_values(by='Champions Played', ascending=False)

         Player  Champions Played
8        Hubert                18
17         Quio                16
19          Sam                12
1         Basil                12
12       Jordan                11
23      Woosung                11
11  Jason Canto                11
10        Jason                11
0       Anthony                10
5          Cobi                10
4         Chris                 9
13         Liam                 8
15        Miggy                 8
6        Declan                 7
2         Bobby                 7
9        Hunter                 5
3       Bwosley                 5
22      Wilfred                 5
7        Eunice                 3
14       Meagan                 3
16       Nathan                 3
18         Ryan                 2
20         Sean                 2
21    Stephanie                 2
24        xTiny                 2

# Champion Analysis

In [24]:
champs_ps = pd.DataFrame(columns=['Champion', 'Wins', 'Losses', 'Win Percentage', 'Kills', 'Deaths', 'Assists', 'KDA', 'CS', 'Vision Score', 'Average Vision Score', 'Fantasy Score', 'Average Score' , 'Total Kills of Team' , 'Kill Participation' , 'Minutes Played' , 'CS/Min' , 'Average Kills', 'Average Deaths', 'Average Assists', 'Kills/Minute', 'Deaths/Minute', 'Assists/Minute', 'Damage Dealt', 'DPM'])

for c in raw_ps['Champion'].unique():
    champs_ps.loc[len(champs_ps)] = get_stats(c, True)

In [25]:
champs_ps = champs_ps.sort_values(by=['Average Score', 'Win Percentage', 'Wins'], ascending=False).reset_index(drop=True)

In [26]:
champs_ps.filter(['Champion', 'Wins', 'Losses', 'Kills', 'Deaths', 'Assists', 'Fantasy', 'Average Score'])

      Champion  Wins  Losses  Kills  Deaths  Assists  Average Score
0        Akali     1       0     17       5       14         83.830
1         Olaf     1       0     15       3        9         72.950
2    Gangplank     2       0     33      10       16         72.605
3       Draven     1       0     14       3        8         66.820
4        Nilah     1       0     12       4        9         56.600
..         ...   ...     ...    ...     ...      ...            ...
110      Milio     0       1      0       6        3         -9.410
111       Azir     0       1      0       6        3         -9.470
112       Kayn     0       1      2       8        1        -11.190
113       Udyr     0       1      2       9        1        -14.180
114     Yorick     0       1      2       9        1        -14.760

[115 rows x 7 columns]

In [27]:
def champ_stats(champion, games):
    rd_gr = rd.loc[rd['Champion'] == champion].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])

    picks = np.count_nonzero(rd_gr['Pick Ban'] == 'Pick')

    bans = np.count_nonzero(rd_gr['Pick Ban'] == 'Ban')

    picked = rd_gr.loc[rd_gr['Pick Ban'] == 'Pick']
    wins = np.count_nonzero((picked['Blue Red'] == picked['Winning Side']))

    presence = round((picks + bans) / games, 3)

    pickrate = round(picks / games, 3)

    banrate = round(bans / games, 3)

    if len(picked) == 0:
        winrate = 0
    else:
        winrate = round(wins / len(picked), 3)

    return [champion, picks, bans, wins, presence, pickrate, banrate, winrate]

In [28]:
champ_pb = pd.DataFrame(columns=['Champion', 'Picks', 'Bans', 'Wins', 'Presence', 'Pickrate', 'Banrate', 'Winrate'])
                        
games = len(rd.filter(['Series #', 'Game #']).drop_duplicates().dropna())

for c in rd['Champion'].unique():
    champ_pb.loc[len(champ_pb)] = champ_stats(c, games)

In [29]:
champ_pb = champ_pb.sort_values('Champion').dropna().reset_index(drop=True)
champ_pb

    Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
0     Aatrox    2.0   2.0   0.0     0.129     0.065    0.065      0.0
1       Ahri    3.0   2.0   0.0     0.161     0.097    0.065      0.0
2      Akali    1.0   4.0   1.0     0.161     0.032    0.129      1.0
3     Akshan    1.0   0.0   1.0     0.032     0.032    0.000      1.0
4    Alistar    6.0   1.0   3.0     0.226     0.194    0.032      0.5
..       ...    ...   ...   ...       ...       ...      ...      ...
114   Yorick    1.0   0.0   0.0     0.032     0.032    0.000      0.0
115      Zac    1.0   0.0   0.0     0.032     0.032    0.000      0.0
116      Zed    1.0   1.0   0.0     0.065     0.032    0.032      0.0
117    Ziggs    2.0   0.0   0.0     0.065     0.065    0.000      0.0
118     Zyra    1.0   0.0   1.0     0.032     0.032    0.000      1.0

[119 rows x 8 columns]

In [30]:
champ_pb.to_csv(cwd + '/ExportData/PickBan/HLCS_pickban_'+ date + '.csv', index=False)

### Extra Analysis

In [31]:
raw_ps.sort_values('Fantasy Score', ascending=False)[0:10].drop(['Pick Ban', 'Blue Red', 'Order'], axis=1)

,Player,Role,Champion,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
241,Liam,Bottom,Varus,6,2,20,2,9,262,19,95.57,44100
427,Anthony,Bottom,Kalista,10,2,19,4,13,271,32,94.31,38152
490,Quio,Jungle,Rengar,11,2,18,1,9,265,41,91.70,34744
196,Quio,Bottom,Ezreal,5,2,14,5,21,215,65,88.40,92134
18,Jason,Jungle,Jarvan IV,1,1,13,1,16,319,63,87.34,28766
646,Bobby,Middle,Akali,13,3,17,5,14,178,21,83.83,42673
290,Bobby,Mid,Quinn,7,1,23,10,8,172,28,81.12,43997
38,Basil,Jungle,Kindred,2,1,13,2,14,277,37,78.62,36150
208,Jason,Top,Gangplank,5,2,20,9,9,534,34,78.04,96769
597,Jordan,Jungle,Graves,13,1,19,4,4,268,38,76.58,31360

In [32]:
raw_ps.sort_values('Fantasy Score')[0:10].drop(['Pick Ban', 'Blue Red', 'Order'], axis=1)

,Player,Role,Champion,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
500,Cobi,Top,Mordekaiser,11,2,1,12,2,161,14,-25.69,12368
71,Miggy,Support,Seraphine,1,2,0,8,3,7,17,-17.08,2689
364,Sam,Jungle,Rell,9,1,0,10,6,94,23,-15.91,5033
113,Cobi,Support,Leona,4,1,0,10,7,24,16,-14.96,4766
647,Basil,Top,Yorick,13,3,2,9,1,179,9,-14.76,12400
430,Sam,Support,Nautilus,10,2,0,12,8,33,99,-14.72,7406
94,Ryan,Jungle,Udyr,2,2,2,9,1,167,23,-14.18,6718
217,Miggy,Mid,Galio,6,1,0,7,4,124,7,-11.41,6729
459,Jason,Jungle,Kayn,10,3,2,8,1,151,26,-11.19,5858
19,Cobi,Mid,Malzahar,1,1,1,11,7,277,21,-11.18,13549

In [33]:
final_ps.sort_values(by=['Fantasy Score'], ascending=False).filter(['Player', 'Fantasy Score'])[0:5]

     Player  Fantasy Score
6      Quio         814.57
4   Anthony         806.83
11   Hubert         672.45
14  Woosung         626.34
18      Sam         612.47

In [35]:
old_pb = pd.read_csv(cwd + '\ExportData\PickBan\HLCS_pickban_11_13_2023.csv')
new_pb = pd.read_csv(cwd + '\ExportData\PickBan\HLCS_pickban_1_30_2024.csv')

set(old_pb[old_pb['Picks'] > 0]['Champion']).symmetric_difference(set(new_pb[new_pb['Picks'] > 0]['Champion']))

{'Akali',
 'Akshan',
 'Aphelios',
 'Azir',
 'Brand',
 'Ekko',
 'Hwei',
 'Lee Sin',
 'Master Yi',
 'Nilah',
 'Nunu & Willump',
 'Olaf',
 'Pantheon',
 "Rek'sai",
 'Samira',
 'Tahm Kench',
 'Twisted Fate',
 'Twitch',
 'Yone',
 'Yorick',
 'Zyra'}

In [36]:
print(165 - len(new_pb[new_pb['Picks'] > 0]), "champions left.")

50 champions left.

In [37]:
new_pb[new_pb['Picks'] > 2].sort_values('Winrate', ascending=False)

        Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
29          Gnar    4.0   8.0   4.0     0.387     0.129    0.258    1.000
14    Blitzcrank    8.0  18.0   7.0     0.839     0.258    0.581    0.875
52           Lux    5.0   4.0   4.0     0.290     0.161    0.129    0.800
37           Jax    5.0   5.0   4.0     0.323     0.161    0.161    0.800
53      Malphite    4.0  17.0   3.0     0.677     0.129    0.548    0.750
100        Urgot    4.0   2.0   3.0     0.194     0.129    0.065    0.750
5          Amumu    7.0  11.0   5.0     0.581     0.226    0.355    0.714
40          Jinx    6.0   0.0   4.0     0.194     0.194    0.000    0.667
17       Caitlyn    3.0   0.0   2.0     0.097     0.097    0.000    0.667
101        Varus    3.0   1.0   2.0     0.129     0.097    0.032    0.667
87          Sion    3.0   2.0   2.0     0.161     0.097    0.065    0.667
32       Hecarim    3.0   5.0   2.0     0.258     0.097    0.161    0.667
68       Orianna    5.0   4.0   3.0     0.290     0.161    0.129    0.600
95       Trundle    5.0   9.0   3.0     0.452     0.161    0.290    0.600
39          Jhin   10.0   5.0   6.0     0.484     0.323    0.161    0.600
77        Rengar    5.0  19.0   3.0     0.774     0.161    0.613    0.600
42        Kai'sa    7.0   6.0   4.0     0.419     0.226    0.194    0.571
89         Swain    7.0   2.0   4.0     0.290     0.226    0.065    0.571
36     Jarvan IV    4.0  15.0   2.0     0.613     0.129    0.484    0.500
31        Graves    4.0   9.0   2.0     0.419     0.129    0.290    0.500
28         Garen    6.0  14.0   3.0     0.645     0.194    0.452    0.500
4        Alistar    6.0   1.0   3.0     0.226     0.194    0.032    0.500
105           Vi    6.0   5.0   3.0     0.355     0.194    0.161    0.500
23        Ezreal    7.0   6.0   3.0     0.419     0.226    0.194    0.429
62      Nautilus   10.0   1.0   4.0     0.355     0.323    0.032    0.400
82     Seraphine    8.0   0.0   3.0     0.258     0.258    0.000    0.375
59       Morgana    8.0   3.0   3.0     0.355     0.258    0.097    0.375
102        Vayne    3.0   2.0   1.0     0.161     0.097    0.065    0.333
50         Leona    3.0   0.0   1.0     0.097     0.097    0.000    0.333
109        Xayah    6.0   4.0   2.0     0.323     0.194    0.129    0.333
26         Galio    3.0   0.0   1.0     0.097     0.097    0.000    0.333
80       Sejuani    4.0   0.0   1.0     0.129     0.129    0.000    0.250
58   Mordekaiser    4.0   9.0   1.0     0.419     0.129    0.290    0.250
90        Syndra    4.0   2.0   1.0     0.194     0.129    0.065    0.250
43       Kalista    4.0   0.0   1.0     0.129     0.129    0.000    0.250
54      Malzahar    4.0   3.0   1.0     0.226     0.129    0.097    0.250
71          Pyke    5.0   0.0   1.0     0.161     0.161    0.000    0.200
104          Vex    5.0   1.0   1.0     0.194     0.161    0.032    0.200
1           Ahri    3.0   2.0   0.0     0.161     0.097    0.065    0.000
70      Pantheon    3.0   4.0   0.0     0.226     0.097    0.129    0.000
45        Kennen    3.0   1.0   0.0     0.129     0.097    0.032    0.000
111     Xin Zhao    3.0   6.0   0.0     0.290     0.097    0.194    0.000