# Import Packages and Data

In [35]:
import pandas as pd
import numpy as np
import os

import warnings 
warnings.filterwarnings('ignore')

# Raw Data

In [2]:
cwd = os.getcwd()

date = '11_7_2023'

rd = pd.read_csv(cwd + '/ImportData/RawData/HLCS_RawData_'+ date + '.csv').rename(columns={'Death': 'Deaths'})

# rd['Player'][166] = 'Cobi'
# rd['Champion'][166] = 'Mordekaiser'

rd

,Player,Champion,Role,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
0,NaN,Rengar,NaN,Ban,Blue,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
1,NaN,Xin Zhao,NaN,Ban,Red,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
2,NaN,Riven,NaN,Ban,Blue,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
3,NaN,Yasuo,NaN,Ban,Red,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
4,NaN,Jhin,NaN,Ban,Blue,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,NaN,Pantheon,NaN,Ban,Blue,5.0,9.0,2.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
394,Jason Canto,Aurelion Sol,Mid,Pick,Red,3.0,9.0,2.0,9.0,3.0,9.0,220.0,13.0,47.85,24363.0
395,Stephanie,Vayne,Bottom,Pick,Blue,3.0,9.0,2.0,8.0,5.0,6.0,215.0,21.0,32.20,23546.0
396,Hubert,Shen,Top,Pick,Blue,3.0,9.0,2.0,1.0,5.0,6.0,137.0,14.0,3.07,10525.0
397,Cobi,Nasus,Top,Pick,Red,4.0,9.0,2.0,4.0,2.0,8.0,197.0,14.0,28.67,15948.0

### Clean Data

In [3]:
rd = rd.dropna(how='all')

# Season Selection
# rd = rd[rd['Series #'] >= 4]

rd

,Player,Champion,Role,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
0,NaN,Rengar,NaN,Ban,Blue,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
1,NaN,Xin Zhao,NaN,Ban,Red,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
2,NaN,Riven,NaN,Ban,Blue,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
3,NaN,Yasuo,NaN,Ban,Red,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
4,NaN,Jhin,NaN,Ban,Blue,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,NaN,Pantheon,NaN,Ban,Blue,5.0,9.0,2.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
394,Jason Canto,Aurelion Sol,Mid,Pick,Red,3.0,9.0,2.0,9.0,3.0,9.0,220.0,13.0,47.85,24363.0
395,Stephanie,Vayne,Bottom,Pick,Blue,3.0,9.0,2.0,8.0,5.0,6.0,215.0,21.0,32.20,23546.0
396,Hubert,Shen,Top,Pick,Blue,3.0,9.0,2.0,1.0,5.0,6.0,137.0,14.0,3.07,10525.0
397,Cobi,Nasus,Top,Pick,Red,4.0,9.0,2.0,4.0,2.0,8.0,197.0,14.0,28.67,15948.0

### Get Only Player Stats

In [4]:
raw_ps = rd.loc[rd['Pick Ban'] == 'Pick']
raw_ps

,Player,Champion,Role,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
6,Woosung,Malphite,Top,Pick,Blue,1.0,1.0,1.0,5.0,3.0,17.0,251.0,50.0,50.01,16772.0
7,Anthony,Jinx,Bottom,Pick,Red,1.0,1.0,1.0,10.0,7.0,4.0,306.0,17.0,30.91,25515.0
8,Sam,Nami,Support,Pick,Red,1.0,1.0,1.0,0.0,8.0,16.0,16.0,104.0,13.36,6486.0
9,Declan,Ashe,Bottom,Pick,Blue,2.0,1.0,1.0,11.0,4.0,10.0,228.0,46.0,56.58,24205.0
10,Miggy,Morgana,Support,Pick,Blue,2.0,1.0,1.0,3.0,9.0,10.0,24.0,49.0,7.69,8184.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,Jason,Bard,Support,Pick,Red,2.0,9.0,2.0,3.0,3.0,17.0,41.0,93.0,42.06,12560.0
394,Jason Canto,Aurelion Sol,Mid,Pick,Red,3.0,9.0,2.0,9.0,3.0,9.0,220.0,13.0,47.85,24363.0
395,Stephanie,Vayne,Bottom,Pick,Blue,3.0,9.0,2.0,8.0,5.0,6.0,215.0,21.0,32.20,23546.0
396,Hubert,Shen,Top,Pick,Blue,3.0,9.0,2.0,1.0,5.0,6.0,137.0,14.0,3.07,10525.0
397,Cobi,Nasus,Top,Pick,Red,4.0,9.0,2.0,4.0,2.0,8.0,197.0,14.0,28.67,15948.0

### Convert to Int

In [5]:
for c in ['Order', 'Series #', 'Game #', 'Kills', 'Deaths', 'Assists', 'CS', 'Vision Score', 'Damage Dealt']:
    raw_ps[c] = raw_ps[c].apply(int)
raw_ps

C:\Users\ryanr\AppData\Local\Temp\ipykernel_19744\3379633771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_ps[c] = raw_ps[c].apply(int)

,Player,Champion,Role,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
6,Woosung,Malphite,Top,Pick,Blue,1,1,1,5,3,17,251,50,50.01,16772
7,Anthony,Jinx,Bottom,Pick,Red,1,1,1,10,7,4,306,17,30.91,25515
8,Sam,Nami,Support,Pick,Red,1,1,1,0,8,16,16,104,13.36,6486
9,Declan,Ashe,Bottom,Pick,Blue,2,1,1,11,4,10,228,46,56.58,24205
10,Miggy,Morgana,Support,Pick,Blue,2,1,1,3,9,10,24,49,7.69,8184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,Jason,Bard,Support,Pick,Red,2,9,2,3,3,17,41,93,42.06,12560
394,Jason Canto,Aurelion Sol,Mid,Pick,Red,3,9,2,9,3,9,220,13,47.85,24363
395,Stephanie,Vayne,Bottom,Pick,Blue,3,9,2,8,5,6,215,21,32.20,23546
396,Hubert,Shen,Top,Pick,Blue,3,9,2,1,5,6,137,14,3.07,10525
397,Cobi,Nasus,Top,Pick,Red,4,9,2,4,2,8,197,14,28.67,15948

In [6]:
# player_stats2 = player_stats.copy()
# player_stats2['Fantasy Score'] = player_stats2['Kills']*4 - player_stats2['Deaths']*3 + player_stats2['Assists']*2 + player_stats2['CS']*0.01 + player_stats2['Vision Score']*0.05
# player_stats2

# Game Records

In [7]:
gr = pd.read_csv(cwd + '/ImportData/GameRecords/HLCS_GameRecords_'+ date + '.csv').dropna(axis=1)
gr

,Date,Series #,Game #,Blue Side,Red Side,Winning Side,Length,Winning Team Gold,Losing Team Gold,Winning Team Kills,Losing Team Kills,Forfeit
0,4/16/2023,1,1,Jason Nguyengards,Taewonnies,Blue,44:38,80254,74816,40,23,False
1,4/16/2023,2,1,Taewonnies,The Founders,Blue,36:32,70853,57956,32,18,False
2,4/16/2023,3,1,The Founders,Jason Nguyengards,Blue,40:58,74186,59663,31,13,False
3,4/30/2023,1,2,Taewonnies,Jason Nguyengards,Blue,26:40,52265,41261,29,11,False
4,4/30/2023,2,2,The Founders,Taewonnies,Red,35:36,66563,52974,27,12,False
5,9/2/2023,4,1,Quintessential Quintuplets,Taewonnies,Blue,25:07,48734,37377,31,9,False
6,9/2/2023,4,2,Taewonnies,Quintessential Quintuplets,Blue,26:07,35004,25886,18,8,True
7,9/2/2023,4,3,Quintessential Quintuplets,Taewonnies,Blue,34:54,68937,60256,32,22,False
8,9/23/2023,5,1,JSA EBOYS,Triple T,Red,36:40,68560,57739,29,20,False
9,9/23/2023,5,2,Triple T,JSA EBOYS,Red,64:35,128319,119728,50,41,False
10,9/29/2023,6,1,Basil's Dazzles,Liam's Premiums,Blue,31:00,63623,49905,37,15,False
11,9/29/2023,6,2,Liam's Premiums,Basil's Dazzles,Blue,28:55,63330,49871,38,23,False
12,9/29/2023,6,3,Basil's Dazzles,Liam's Premiums,Red,36:55,74209,70158,40,38,False
13,10/13/2023,7,1,Net Knights,Zazazoso Smokers,Blue,37:45,74039,70973,46,43,False
14,10/13/2023,7,2,Zazazoso Smokers,Net Knights,Red,32:21,62185,55959,23,23,False
15,10/21/2023,8,1,Jordan's Jorts,Sammy's Hammies,Red,31:15,61878,56471,21,27,False
16,10/21/2023,8,2,Sammy's Hammies,Jordan's Jorts,Blue,42:41,82206,74799,35,32,False
17,11/4/2023,9,1,The J-Team,The Steph Kuris,Blue,29:08,61369,47626,38,19,False
18,11/4/2023,9,2,The Steph Kuris,The J-Team,Red,32:17,63345,50777,27,19,False

### Round Up Game Length

In [8]:
gr['Length'] = pd.Series(l.split(':')[0] for l in gr['Length']).apply(int) + 1
gr

,Date,Series #,Game #,Blue Side,Red Side,Winning Side,Length,Winning Team Gold,Losing Team Gold,Winning Team Kills,Losing Team Kills,Forfeit
0,4/16/2023,1,1,Jason Nguyengards,Taewonnies,Blue,45,80254,74816,40,23,False
1,4/16/2023,2,1,Taewonnies,The Founders,Blue,37,70853,57956,32,18,False
2,4/16/2023,3,1,The Founders,Jason Nguyengards,Blue,41,74186,59663,31,13,False
3,4/30/2023,1,2,Taewonnies,Jason Nguyengards,Blue,27,52265,41261,29,11,False
4,4/30/2023,2,2,The Founders,Taewonnies,Red,36,66563,52974,27,12,False
5,9/2/2023,4,1,Quintessential Quintuplets,Taewonnies,Blue,26,48734,37377,31,9,False
6,9/2/2023,4,2,Taewonnies,Quintessential Quintuplets,Blue,27,35004,25886,18,8,True
7,9/2/2023,4,3,Quintessential Quintuplets,Taewonnies,Blue,35,68937,60256,32,22,False
8,9/23/2023,5,1,JSA EBOYS,Triple T,Red,37,68560,57739,29,20,False
9,9/23/2023,5,2,Triple T,JSA EBOYS,Red,65,128319,119728,50,41,False
10,9/29/2023,6,1,Basil's Dazzles,Liam's Premiums,Blue,32,63623,49905,37,15,False
11,9/29/2023,6,2,Liam's Premiums,Basil's Dazzles,Blue,29,63330,49871,38,23,False
12,9/29/2023,6,3,Basil's Dazzles,Liam's Premiums,Red,37,74209,70158,40,38,False
13,10/13/2023,7,1,Net Knights,Zazazoso Smokers,Blue,38,74039,70973,46,43,False
14,10/13/2023,7,2,Zazazoso Smokers,Net Knights,Red,33,62185,55959,23,23,False
15,10/21/2023,8,1,Jordan's Jorts,Sammy's Hammies,Red,32,61878,56471,21,27,False
16,10/21/2023,8,2,Sammy's Hammies,Jordan's Jorts,Blue,43,82206,74799,35,32,False
17,11/4/2023,9,1,The J-Team,The Steph Kuris,Blue,30,61369,47626,38,19,False
18,11/4/2023,9,2,The Steph Kuris,The J-Team,Red,33,63345,50777,27,19,False

In [9]:
# Wins
# Losses 
# Win Percentage 
# Kills *
# Deaths *
# Assists *
# KDA 
# CS *
# Vision Score *
# Fantasy Score *
# Average Score 
# Total Kills of Team 
# Kill Participation 
# Minutes Played 
# CS/Min 
# Average CS/Min 
# Average Kills
# Average Deaths 
# Average Assists

In [10]:
# ryan = raw_ps.loc[raw_ps['Player'] == 'Ryan'].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])
# ryan

In [11]:
# ryan_wins = np.count_nonzero((ryan['Blue Red'] == ryan['Winning Side']))
# print("wins:", ryan_wins)

# ryan_losses = np.count_nonzero((ryan['Blue Red'] == ryan['Winning Side']) == 0)
# print("Losses:", ryan_losses)

# print("Win Percentage:", ryan_wins / (ryan_wins + ryan_losses) * 100)

# ryan_kills = sum(ryan['Kills'])
# print('Kills:', ryan_kills)

# ryan_deaths = sum(ryan['Deaths'])
# print('Deaths:', ryan_deaths)

# ryan_assists = sum(ryan['Assists'])
# print('Assists:', ryan_assists)

# print("KDA:", (ryan_kills + ryan_assists) / ryan_deaths)

# ryan_cs = sum(ryan['CS'])
# print('CS:', ryan_cs)

# ryan_vision_score = sum(ryan['Vision Score'])
# print('Vision Score:', ryan_vision_score)

# ryan_fantasy_score = sum(ryan['Fantasy Score'])
# print('Fantasy Score:', ryan_fantasy_score)

# print('Average Fantasy Score:', ryan_fantasy_score / (ryan_wins + ryan_losses))

# ryan_total_kills = sum(ryan.loc[ryan['Blue Red'] == ryan['Winning Side']]['Winning Team Kills']) + sum(ryan.loc[(ryan['Blue Red'] == ryan['Winning Side']) == 0]['Losing Team Kills'])
# print('Total Kills of Team:', ryan_total_kills)

# print('Kill Participation:', (ryan_kills + ryan_assists) / ryan_total_kills) 

# ryan_minutes = sum(ryan['Length'])
# print('Minutes Played:', ryan_minutes) 

# ryan_csmin = sum(ryan['CS']) / ryan_minutes
# print('CS/Min:', ryan_csmin) 

# print('Average CS/Min:', ryan_csmin / (ryan_wins + ryan_losses)) 

# print('Average Kills:', ryan_kills / (ryan_wins + ryan_losses)) 

# print('Average Deaths:', ryan_deaths / (ryan_wins + ryan_losses)) 

# print('Average Assists', ryan_assists / (ryan_wins + ryan_losses))

# Player Stats

In [12]:
# return row of stats for given player

def get_stats(player, champion = False):
    
    if champion:
        ps_gr = raw_ps.loc[raw_ps['Champion'] == player].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])
    else:
        ps_gr = raw_ps.loc[raw_ps['Player'] == player].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])

    wins = np.count_nonzero((ps_gr['Blue Red'] == ps_gr['Winning Side']))

    losses = np.count_nonzero((ps_gr['Blue Red'] == ps_gr['Winning Side']) == 0)

    win_p = round(wins / (wins + losses), 3)

    kills = sum(ps_gr['Kills'])

    deaths = sum(ps_gr['Deaths'])

    assists = sum(ps_gr['Assists'])

    if deaths == 0:
        kda = kills + assists
    else:
        kda = round((kills + assists) / deaths, 3)

    cs = sum(ps_gr['CS'])

    vision_score = sum(ps_gr['Vision Score'])

    fantasy_score = sum(ps_gr['Fantasy Score'])

    avg_fantasy_score = round(fantasy_score / (wins + losses), 3)

    total_kills = sum(ps_gr.loc[ps_gr['Blue Red'] == ps_gr['Winning Side']]['Winning Team Kills']) + sum(ps_gr.loc[(ps_gr['Blue Red'] == ps_gr['Winning Side']) == 0]['Losing Team Kills'])

    kp = round((kills + assists) / total_kills, 3)

    minutes = sum(ps_gr['Length'])

    csmin = round(sum(ps_gr['CS']) / minutes, 3)

    avg_kills = round(kills / (wins + losses), 3)

    avg_deaths = round(deaths / (wins + losses), 3)

    avg_assists = round(assists / (wins + losses), 3)

    kpm = round(kills / minutes, 3)

    dpm = round(deaths / minutes, 3)

    apm = round(assists / minutes, 3)

    damage_dealt = sum(ps_gr['Damage Dealt'])

    ddpm = round(damage_dealt / minutes, 3)

    return [player, wins, losses, win_p, kills, deaths, assists, kda, cs, vision_score, fantasy_score, avg_fantasy_score, total_kills, kp, minutes, csmin, avg_kills, avg_deaths, avg_assists, kpm, dpm, apm, damage_dealt, ddpm]

In [13]:
final_ps = pd.DataFrame(columns=['Player', 'Wins', 'Losses', 'Win Percentage', 'Kills', 'Deaths', 'Assists', 'KDA', 'CS', 'Vision Score', 'Fantasy Score', 'Average Score' , 'Total Kills of Team' , 'Kill Participation' , 'Minutes Played' , 'CS/Min' , 'Average Kills', 'Average Deaths', 'Average Assists', 'Kills/Minute', 'Deaths/Minute', 'Assists/Minute', 'Damage Dealt', 'DPM'])

In [14]:
for p in raw_ps['Player'].unique():
    final_ps.loc[len(final_ps)] = get_stats(p)

In [15]:
final_ps = final_ps.sort_values(by=['Average Score', 'Win Percentage', 'Wins'], ascending=False).reset_index(drop=True)
final_ps

,Player,Wins,Losses,Win Percentage,Kills,Deaths,Assists,KDA,CS,Vision Score,...,Minutes Played,CS/Min,Average Kills,Average Deaths,Average Assists,Kills/Minute,Deaths/Minute,Assists/Minute,Damage Dealt,DPM
0,Liam,3,6,0.333,83,52,96,3.442,2408,199,...,346,6.960,9.222,5.778,10.667,0.240,0.150,0.277,324415,937.616
1,Jason,4,2,0.667,43,27,61,3.852,1512,285,...,241,6.274,7.167,4.500,10.167,0.178,0.112,0.253,185289,768.834
2,Bobby,4,0,1.000,46,33,22,2.061,971,81,...,146,6.651,11.500,8.250,5.500,0.315,0.226,0.151,143990,986.233
3,Quio,8,6,0.571,89,73,144,3.192,3132,451,...,508,6.165,6.357,5.214,10.286,0.175,0.144,0.283,361442,711.500
4,Jordan,6,4,0.600,82,52,64,2.808,2279,321,...,324,7.034,8.200,5.200,6.400,0.253,0.160,0.198,214540,662.160
5,Anthony,13,5,0.722,147,103,124,2.631,4003,437,...,642,6.235,8.167,5.722,6.889,0.229,0.160,0.193,427345,665.646
6,Basil,6,5,0.545,75,55,88,2.964,2420,304,...,389,6.221,6.818,5.000,8.000,0.193,0.141,0.226,267037,686.470
7,Jason Canto,2,2,0.500,21,18,39,3.333,589,129,...,138,4.268,5.250,4.500,9.750,0.152,0.130,0.283,63475,459.964
8,Stephanie,0,2,0.000,15,10,12,2.700,415,28,...,63,6.587,7.500,5.000,6.000,0.238,0.159,0.190,45061,715.254
9,Hubert,6,11,0.353,101,96,167,2.792,2798,548,...,611,4.579,5.941,5.647,9.824,0.165,0.157,0.273,322011,527.023
10,Sean,1,1,0.500,15,12,11,2.167,583,68,...,78,7.474,7.500,6.000,5.500,0.192,0.154,0.141,51660,662.308
11,Declan,4,7,0.364,61,46,82,3.109,1968,271,...,362,5.436,5.545,4.182,7.455,0.169,0.127,0.227,223770,618.149
12,Woosung,5,10,0.333,69,89,163,2.607,1825,690,...,535,3.411,4.600,5.933,10.867,0.129,0.166,0.305,224054,418.793
13,Sam,10,8,0.556,48,102,219,2.618,2012,961,...,642,3.134,2.667,5.667,12.167,0.075,0.159,0.341,257730,401.449
14,Eunice,1,2,0.333,9,15,30,2.600,495,186,...,114,4.342,3.000,5.000,10.000,0.079,0.132,0.263,48592,426.246
15,Cobi,9,6,0.600,55,85,158,2.506,1905,410,...,544,3.502,3.667,5.667,10.533,0.101,0.156,0.290,248944,457.618
16,Ryan,1,2,0.333,10,18,19,1.611,402,139,...,114,3.526,3.333,6.000,6.333,0.088,0.158,0.167,41281,362.114
17,Chris,3,5,0.375,14,31,50,2.065,1482,241,...,304,4.875,1.750,3.875,6.250,0.046,0.102,0.164,97519,320.786
18,Miggy,4,6,0.400,29,69,89,1.710,1113,179,...,384,2.898,2.900,6.900,8.900,0.076,0.180,0.232,99942,260.266
19,Hunter,2,2,0.500,10,16,15,1.562,543,73,...,125,4.344,2.500,4.000,3.750,0.080,0.128,0.120,50188,401.504
20,Meagan,0,1,0.000,2,6,6,1.333,24,71,...,36,0.667,2.000,6.000,6.000,0.056,0.167,0.167,12410,344.722
21,Bwosley,3,2,0.600,16,34,21,1.088,836,135,...,184,4.543,3.200,6.800,4.200,0.087,0.185,0.114,57670,313.424

In [12]:
final_ps.to_csv(cwd + '/ExportData/PlayerStats/HLCS_player_statistics_'+ date + '.csv', index=False)

# final_ps.to_csv(cwd + '/S2_HLCS_player_statistics.csv', index=False)

# Role Analysis

## Flexibility Scores

In [13]:
# ryan_roles = raw_ps[raw_ps['Player'] == 'Ryan']['Role'].value_counts()

# ryan_top = 0
# ryan_jungle = 0
# ryan_mid = 0
# ryan_bottom = 0
# ryan_support = 0

# for i in range(len(ryan_roles)):
#     match ryan_roles.index[i]:
#         case 'Top':
#             ryan_top = ryan_roles[i]
#         case 'Jungle':
#             ryan_jungle = ryan_roles[i]
#         case 'Mid':
#             ryan_mid = ryan_roles[i]
#         case 'Bottom':
#             ryan_bottom = ryan_roles[i]
#         case 'Support':
#             ryan_support = ryan_roles[i]

# ryan_flex_score = 1 - np.std([ryan_top, ryan_jungle, ryan_mid, ryan_bottom, ryan_support] / (ryan_top + ryan_jungle + ryan_mid + ryan_bottom + ryan_support), ddof=1)
# ryan_flex_score

In [14]:
def get_roles(player):
    roles = raw_ps[raw_ps['Player'] == player]['Role'].value_counts()

    top = 0
    jungle = 0
    mid = 0
    bottom = 0
    support = 0

    for i in range(len(roles)):
        match roles.index[i]:
            case 'Top':
                top = roles[i]
            case 'Jungle':
                jungle = roles[i]
            case 'Mid':
                mid = roles[i]
            case 'Bottom':
                bottom = roles[i]
            case 'Support':
                support = roles[i]

    flex_score = 1 - np.std([top, jungle, mid, bottom, support] / (top + jungle + mid + bottom + support), ddof=4)

    return [player, top, jungle, mid, bottom, support, flex_score]

In [15]:
flex_scores = pd.DataFrame(columns=['Player', 'Top', 'Jungle', 'Mid', 'Bottom', 'Support', 'Flex Score'])

for p in raw_ps['Player'].unique():
    flex_scores.loc[len(flex_scores)] = get_roles(p)

In [16]:
flex_scores = flex_scores.sort_values(by='Flex Score', ascending=False).reset_index(drop=True)
flex_scores

         Player  Top  Jungle  Mid  Bottom  Support  Flex Score
0         Chris    1       1    1       0        2    0.717157
1         Jason    1       1    0       0        1    0.634852
2          Quio    1       2    2       5        0    0.625834
3        Hubert    1       2    0       7        4    0.603588
4   Jason Canto    1       0    2       0        1    0.581670
5        Jordan    3       5    0       2        0    0.575736
6          Liam    0       5    1       3        0    0.518234
7          Cobi    6       0    1       0        4    0.512131
8           Sam    0       6    1       0        7    0.511353
9       Woosung    1       4    0       0        7    0.491735
10      Bwosley    1       0    0       0        1    0.452277
11    Stephanie    0       0    1       1        0    0.452277
12      Anthony    2       0    2      10        0    0.407530
13        Basil    5       2    0       0        0    0.374031
14       Hunter    3       0    0       0        1    0.348080
15        Bobby    1       0    3       0        0    0.348080
16       Declan    1       0    7       0        0    0.237602
17        Miggy    0       0    7       0        0    0.105573

In [92]:
flex_scores.to_csv(cwd + '/ExportData/FlexScores/HLCS_flex_scores_'+ date + '.csv', index=False)

## All-Pro

In [42]:
def get_role_scores(player):

    scores = [player]

    for r in ['Top', 'Jungle', 'Mid', 'Bottom', 'Support']:
        scores.append(np.sum(raw_ps[raw_ps['Player'] == player][raw_ps['Role'] == r]['Fantasy Score']))

    return scores

In [43]:
role_scores = pd.DataFrame(columns=['Player', 'Top', 'Jungle', 'Mid', 'Bottom', 'Support'])

for p in raw_ps['Player'].unique():
    role_scores.loc[len(role_scores)] = get_role_scores(p)

In [44]:
role_scores.fillna(0).sort_values(by='Bottom', ascending=False)

         Player     Top  Jungle     Mid  Bottom  Support
1       Anthony   36.75    0.00   50.45  501.68     0.00
11       Hubert    3.07   75.62    0.00  351.60    75.09
6          Quio   66.83  128.67   64.24  219.13     0.00
18         Liam    0.00  175.79   24.11  202.13     0.00
17       Jordan   74.59  142.29    0.00  121.96     0.00
3        Declan   -4.37    0.00  233.25   74.35     0.00
21    Stephanie    0.00    0.00   27.35   32.20     0.00
7       Bwosley   -4.00    0.00   27.17    0.00    -4.06
9          Cobi  166.92    0.00   11.39    0.00   118.65
10         Ryan    0.00  -14.18    8.57    0.00    40.58
5         Basil  170.41  179.99    0.00    0.00     0.00
12         Sean    0.00   55.23    0.00    0.00     0.00
13       Eunice    0.00    0.00   41.03    0.00    24.22
14        Chris   34.53   27.95   19.10    0.00     8.29
15       Meagan    0.00    0.00    0.00    0.00     5.79
16       Hunter   29.45    0.00    0.00    0.00     1.63
4         Miggy    0.00    0.00  121.16    0.00   -14.08
2           Sam    0.00  121.43   91.60    0.00   179.14
19        Bobby   -3.83    0.00  146.59    0.00     0.00
20  Jason Canto   13.53    0.00   73.21    0.00    33.60
0       Woosung   57.20  121.85    0.00    0.00   208.70
8         Jason   78.04  128.65    0.00   -6.38    42.06

# Champion Analysis

In [17]:
champs_ps = pd.DataFrame(columns=['Champion', 'Wins', 'Losses', 'Win Percentage', 'Kills', 'Deaths', 'Assists', 'KDA', 'CS', 'Vision Score', 'Fantasy Score', 'Average Score' , 'Total Kills of Team' , 'Kill Participation' , 'Minutes Played' , 'CS/Min' , 'Average Kills', 'Average Deaths', 'Average Assists', 'Kills/Minute', 'Deaths/Minute', 'Assists/Minute', 'Damage Dealt', 'DPM'])

for c in raw_ps['Champion'].unique():
    champs_ps.loc[len(champs_ps)] = get_stats(c, True)

In [22]:
champs_ps = champs_ps.sort_values(by=['Average Score', 'Win Percentage', 'Wins'], ascending=False).reset_index(drop=True)

In [23]:
champs_ps.filter(['Champion', 'Wins', 'Losses', 'Kills', 'Deaths', 'Assists', 'Fantasy', 'Average Score'])

     Champion  Wins  Losses  Kills  Deaths  Assists  Average Score
0       Varus     1       0     20       2        9          95.57
1   Gangplank     1       0     20       9        9          78.04
2       Shaco     1       0     15       4       10          71.75
3      Draven     1       0     14       3        8          66.82
4      Lillia     1       0     14       8       15          66.04
..        ...   ...     ...    ...     ...      ...            ...
83     Anivia     0       1      0       3        0          -7.29
84      Milio     0       1      0       6        3          -9.41
85   Malzahar     0       1      1      11        7         -11.18
86       Udyr     0       1      2       9        1         -14.18
87       Rell     0       1      0      10        6         -15.91

[88 rows x 7 columns]

In [24]:
def champ_stats(champion, games):
    rd_gr = rd.loc[rd['Champion'] == champion].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])

    picks = np.count_nonzero(rd_gr['Pick Ban'] == 'Pick')

    bans = np.count_nonzero(rd_gr['Pick Ban'] == 'Ban')

    picked = rd_gr.loc[rd_gr['Pick Ban'] == 'Pick']
    wins = np.count_nonzero((picked['Blue Red'] == picked['Winning Side']))

    presence = round((picks + bans) / games, 3)

    pickrate = round(picks / games, 3)

    banrate = round(bans / games, 3)

    if len(picked) == 0:
        winrate = 0
    else:
        winrate = round(wins / len(picked), 3)

    return [champion, picks, bans, wins, presence, pickrate, banrate, winrate]

In [25]:
champ_pb = pd.DataFrame(columns=['Champion', 'Picks', 'Bans', 'Wins', 'Presence', 'Pickrate', 'Banrate', 'Winrate'])
                        
games = len(rd.filter(['Series #', 'Game #']).drop_duplicates().dropna())

for c in rd['Champion'].unique():
    champ_pb.loc[len(champ_pb)] = champ_stats(c, games)

In [26]:
champ_pb = champ_pb.sort_values('Champion').dropna().reset_index(drop=True)
champ_pb

    Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
0       Ahri    3.0   2.0   0.0     0.263     0.158    0.105    0.000
1      Akali    0.0   4.0   0.0     0.211     0.000    0.211    0.000
2    Alistar    4.0   1.0   2.0     0.263     0.211    0.053    0.500
3      Amumu    6.0   7.0   4.0     0.684     0.316    0.368    0.667
4     Anivia    1.0   0.0   0.0     0.053     0.053    0.000    0.000
..       ...    ...   ...   ...       ...       ...      ...      ...
93  Xin Zhao    2.0   6.0   0.0     0.421     0.105    0.316    0.000
94     Yasuo    1.0   4.0   1.0     0.263     0.053    0.211    1.000
95       Zac    1.0   0.0   0.0     0.053     0.053    0.000    0.000
96       Zed    0.0   1.0   0.0     0.053     0.000    0.053    0.000
97     Ziggs    2.0   0.0   0.0     0.105     0.105    0.000    0.000

[98 rows x 8 columns]

In [27]:
champ_pb.to_csv(cwd + '/ExportData/PickBan/HLCS_pickban_'+ date + '.csv', index=False)

### Extra Analysis

In [28]:
raw_ps.sort_values('Fantasy Score', ascending=False)[0:10].drop(['Pick Ban', 'Blue Red', 'Order'], axis=1)

,Player,Champion,Role,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
241,Liam,Varus,Bottom,6,2,20,2,9,262,19,95.57,44100
196,Quio,Ezreal,Bottom,5,2,14,5,21,215,65,88.40,92134
18,Jason,Jarvan IV,Jungle,1,1,13,1,16,319,63,87.34,28766
290,Bobby,Quinn,Mid,7,1,23,10,8,172,28,81.12,43997
38,Basil,Kindred,Jungle,2,1,13,2,14,277,37,78.62,36150
208,Jason,Gangplank,Top,5,2,20,9,9,534,34,78.04,96769
354,Basil,Shaco,Jungle,8,2,15,4,10,240,27,71.75,44786
195,Liam,Kai'sa,Bottom,5,2,13,6,14,454,37,68.39,100643
153,Jordan,Draven,Bottom,4,3,14,3,8,247,27,66.82,33130
271,Liam,Lillia,Jungle,6,3,14,8,15,274,26,66.04,41688

In [29]:
raw_ps.sort_values('Fantasy Score')[0:10].drop(['Pick Ban', 'Blue Red', 'Order'], axis=1)

,Player,Champion,Role,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
71,Miggy,Seraphine,Support,1,2,0,8,3,7,17,-17.08,2689
364,Sam,Rell,Jungle,9,1,0,10,6,94,23,-15.91,5033
113,Cobi,Leona,Support,4,1,0,10,7,24,16,-14.96,4766
94,Ryan,Udyr,Jungle,2,2,2,9,1,167,23,-14.18,6718
217,Miggy,Galio,Mid,6,1,0,7,4,124,7,-11.41,6729
19,Cobi,Malzahar,Mid,1,1,1,11,7,277,21,-11.18,13549
221,Hubert,Milio,Support,6,1,0,6,3,9,50,-9.41,3590
137,Declan,Anivia,Mid,4,2,0,3,0,136,7,-7.29,1126
70,Jason,Ziggs,Bottom,1,2,1,7,4,177,17,-6.38,15655
185,Hunter,Urgot,Top,5,1,1,6,3,211,22,-4.79,15283

In [30]:
final_ps.sort_values(by=['Fantasy Score'], ascending=False).filter(['Player', 'Fantasy Score'])[0:5]

     Player  Fantasy Score
5   Anthony         588.88
9    Hubert         505.38
3      Quio         478.87
0      Liam         402.03
13      Sam         392.17

In [17]:
old_pb = pd.read_csv(cwd + '\ExportData\PickBan\HLCS_pickban_10_22_2023.csv')
new_pb = pd.read_csv(cwd + '\ExportData\PickBan\HLCS_pickban_11_7_2023.csv')

set(old_pb[old_pb['Picks'] > 0]['Champion']).symmetric_difference(set(new_pb[new_pb['Picks'] > 0]['Champion']))

{'Aurelion Sol', 'Bard', 'Nasus', 'Rell', 'Shen', 'Singed'}

In [20]:
print(165 - len(new_pb[new_pb['Picks'] > 0]), "champions left.")

77 champions left.

In [35]:
new_pb[new_pb['Picks'] > 2].sort_values('Winrate', ascending=False)

       Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
22         Gnar    3.0   2.0   3.0     0.263     0.158    0.105    1.000
10   Blitzcrank    7.0   8.0   6.0     0.789     0.368    0.421    0.857
31         Jhin    6.0   3.0   5.0     0.474     0.316    0.158    0.833
74        Swain    4.0   2.0   3.0     0.316     0.211    0.105    0.750
3         Amumu    6.0   7.0   4.0     0.684     0.316    0.368    0.667
63       Rengar    3.0  13.0   2.0     0.842     0.158    0.684    0.667
79      Trundle    3.0   7.0   2.0     0.526     0.158    0.368    0.667
21        Garen    5.0   5.0   3.0     0.526     0.263    0.263    0.600
32         Jinx    5.0   0.0   3.0     0.263     0.263    0.000    0.600
34       Kai'sa    7.0   5.0   4.0     0.632     0.368    0.263    0.571
87           Vi    4.0   3.0   2.0     0.368     0.211    0.158    0.500
28    Jarvan IV    4.0   9.0   2.0     0.684     0.211    0.474    0.500
2       Alistar    4.0   1.0   2.0     0.263     0.211    0.053    0.500
67    Seraphine    4.0   0.0   2.0     0.211     0.211    0.000    0.500
51     Nautilus    5.0   1.0   2.0     0.316     0.263    0.053    0.400
47  Mordekaiser    3.0   7.0   1.0     0.526     0.158    0.368    0.333
65      Sejuani    3.0   0.0   1.0     0.158     0.158    0.000    0.333
75       Syndra    3.0   0.0   1.0     0.158     0.158    0.000    0.333
55      Orianna    3.0   1.0   1.0     0.211     0.158    0.053    0.333
48      Morgana    6.0   1.0   2.0     0.368     0.316    0.053    0.333
40        Leona    3.0   0.0   1.0     0.158     0.158    0.000    0.333
86          Vex    4.0   0.0   1.0     0.211     0.211    0.000    0.250
91        Xayah    4.0   3.0   1.0     0.368     0.211    0.158    0.250
16       Ezreal    5.0   3.0   1.0     0.421     0.263    0.158    0.200
36       Kennen    3.0   1.0   0.0     0.211     0.158    0.053    0.000
0          Ahri    3.0   2.0   0.0     0.263     0.158    0.105    0.000