# Import Packages and Data

In [1]:
import pandas as pd
import numpy as np
import os

import warnings 
warnings.filterwarnings('ignore')

# Raw Data

In [2]:
cwd = os.getcwd()

date = '11_13_2023'

rd = pd.read_csv(cwd + '/ImportData/RawData/HLCS_RawData_'+ date + '.csv').rename(columns={'Death': 'Deaths'})

# rd['Player'][166] = 'Cobi'
# rd['Champion'][166] = 'Mordekaiser'

rd

,Player,Role,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
0,NaN,NaN,Rengar,Ban,Blue,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
1,NaN,NaN,Xin Zhao,Ban,Red,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
2,NaN,NaN,Riven,Ban,Blue,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
3,NaN,NaN,Yasuo,Ban,Red,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
4,NaN,NaN,Jhin,Ban,Blue,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,NaN,NaN,Orianna,Ban,Blue,5.0,10.0,3.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
457,Jason Canto,Bottom,Caitlyn,Pick,Red,3.0,10.0,3.0,7.0,2.0,12.0,174.0,16.0,48.54,18447.0
458,Miggy,Mid,Vex,Pick,Blue,3.0,10.0,3.0,1.0,6.0,1.0,139.0,7.0,-10.26,11903.0
459,Jason,Jungle,Kayn,Pick,Blue,3.0,10.0,3.0,2.0,8.0,1.0,151.0,26.0,-11.19,5858.0
460,Wilfred,Jungle,Lillia,Pick,Red,4.0,10.0,3.0,7.0,2.0,10.0,266.0,15.0,45.41,21783.0

### Clean Data

In [3]:
rd = rd.dropna(how='all')

# Season Selection
# rd = rd[rd['Series #'] >= 4]

rd

,Player,Role,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
0,NaN,NaN,Rengar,Ban,Blue,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
1,NaN,NaN,Xin Zhao,Ban,Red,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
2,NaN,NaN,Riven,Ban,Blue,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
3,NaN,NaN,Yasuo,Ban,Red,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
4,NaN,NaN,Jhin,Ban,Blue,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,NaN,NaN,Orianna,Ban,Blue,5.0,10.0,3.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
457,Jason Canto,Bottom,Caitlyn,Pick,Red,3.0,10.0,3.0,7.0,2.0,12.0,174.0,16.0,48.54,18447.0
458,Miggy,Mid,Vex,Pick,Blue,3.0,10.0,3.0,1.0,6.0,1.0,139.0,7.0,-10.26,11903.0
459,Jason,Jungle,Kayn,Pick,Blue,3.0,10.0,3.0,2.0,8.0,1.0,151.0,26.0,-11.19,5858.0
460,Wilfred,Jungle,Lillia,Pick,Red,4.0,10.0,3.0,7.0,2.0,10.0,266.0,15.0,45.41,21783.0

### Get Only Player Stats

In [4]:
raw_ps = rd.loc[rd['Pick Ban'] == 'Pick']
raw_ps

,Player,Role,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
6,Woosung,Top,Malphite,Pick,Blue,1.0,1.0,1.0,5.0,3.0,17.0,251.0,50.0,50.01,16772.0
7,Anthony,Bottom,Jinx,Pick,Red,1.0,1.0,1.0,10.0,7.0,4.0,306.0,17.0,30.91,25515.0
8,Sam,Support,Nami,Pick,Red,1.0,1.0,1.0,0.0,8.0,16.0,16.0,104.0,13.36,6486.0
9,Declan,Bottom,Ashe,Pick,Blue,2.0,1.0,1.0,11.0,4.0,10.0,228.0,46.0,56.58,24205.0
10,Miggy,Support,Morgana,Pick,Blue,2.0,1.0,1.0,3.0,9.0,10.0,24.0,49.0,7.69,8184.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Sam,Support,Rell,Pick,Red,2.0,10.0,3.0,3.0,3.0,19.0,32.0,51.0,43.87,6273.0
457,Jason Canto,Bottom,Caitlyn,Pick,Red,3.0,10.0,3.0,7.0,2.0,12.0,174.0,16.0,48.54,18447.0
458,Miggy,Mid,Vex,Pick,Blue,3.0,10.0,3.0,1.0,6.0,1.0,139.0,7.0,-10.26,11903.0
459,Jason,Jungle,Kayn,Pick,Blue,3.0,10.0,3.0,2.0,8.0,1.0,151.0,26.0,-11.19,5858.0
460,Wilfred,Jungle,Lillia,Pick,Red,4.0,10.0,3.0,7.0,2.0,10.0,266.0,15.0,45.41,21783.0

### Convert to Int

In [5]:
for c in ['Order', 'Series #', 'Game #', 'Kills', 'Deaths', 'Assists', 'CS', 'Vision Score', 'Damage Dealt']:
    raw_ps[c] = raw_ps[c].apply(int)
raw_ps

,Player,Role,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
6,Woosung,Top,Malphite,Pick,Blue,1,1,1,5,3,17,251,50,50.01,16772
7,Anthony,Bottom,Jinx,Pick,Red,1,1,1,10,7,4,306,17,30.91,25515
8,Sam,Support,Nami,Pick,Red,1,1,1,0,8,16,16,104,13.36,6486
9,Declan,Bottom,Ashe,Pick,Blue,2,1,1,11,4,10,228,46,56.58,24205
10,Miggy,Support,Morgana,Pick,Blue,2,1,1,3,9,10,24,49,7.69,8184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Sam,Support,Rell,Pick,Red,2,10,3,3,3,19,32,51,43.87,6273
457,Jason Canto,Bottom,Caitlyn,Pick,Red,3,10,3,7,2,12,174,16,48.54,18447
458,Miggy,Mid,Vex,Pick,Blue,3,10,3,1,6,1,139,7,-10.26,11903
459,Jason,Jungle,Kayn,Pick,Blue,3,10,3,2,8,1,151,26,-11.19,5858
460,Wilfred,Jungle,Lillia,Pick,Red,4,10,3,7,2,10,266,15,45.41,21783

In [6]:
# player_stats2 = player_stats.copy()
# player_stats2['Fantasy Score'] = player_stats2['Kills']*4 - player_stats2['Deaths']*3 + player_stats2['Assists']*2 + player_stats2['CS']*0.01 + player_stats2['Vision Score']*0.05
# player_stats2

# Game Records

In [6]:
gr = pd.read_csv(cwd + '/ImportData/GameRecords/HLCS_GameRecords_'+ date + '.csv').dropna(axis=1)
gr

,Date,Series #,Game #,Blue Side,Red Side,Winning Side,Length,Winning Team Gold,Losing Team Gold,Winning Team Kills,Losing Team Kills,Forfeit
0,4/16/2023,1,1,Jason Nguyengards,Taewonnies,Blue,44:38,80254,74816,40,23,False
1,4/16/2023,2,1,Taewonnies,The Founders,Blue,36:32,70853,57956,32,18,False
2,4/16/2023,3,1,The Founders,Jason Nguyengards,Blue,40:58,74186,59663,31,13,False
3,4/30/2023,1,2,Taewonnies,Jason Nguyengards,Blue,26:40,52265,41261,29,11,False
4,4/30/2023,2,2,The Founders,Taewonnies,Red,35:36,66563,52974,27,12,False
5,9/2/2023,4,1,Quintessential Quintuplets,Taewonnies,Blue,25:07,48734,37377,31,9,False
6,9/2/2023,4,2,Taewonnies,Quintessential Quintuplets,Blue,26:07,35004,25886,18,8,True
7,9/2/2023,4,3,Quintessential Quintuplets,Taewonnies,Blue,34:54,68937,60256,32,22,False
8,9/23/2023,5,1,JSA EBOYS,Triple T,Red,36:40,68560,57739,29,20,False
9,9/23/2023,5,2,Triple T,JSA EBOYS,Red,64:35,128319,119728,50,41,False
10,9/29/2023,6,1,Basil's Dazzles,Liam's Premiums,Blue,31:00,63623,49905,37,15,False
11,9/29/2023,6,2,Liam's Premiums,Basil's Dazzles,Blue,28:55,63330,49871,38,23,False
12,9/29/2023,6,3,Basil's Dazzles,Liam's Premiums,Red,36:55,74209,70158,40,38,False
13,10/13/2023,7,1,Net Knights,Zazazoso Smokers,Blue,37:45,74039,70973,46,43,False
14,10/13/2023,7,2,Zazazoso Smokers,Net Knights,Red,32:21,62185,55959,23,23,False
15,10/21/2023,8,1,Jordan's Jorts,Sammy's Hammies,Red,31:15,61878,56471,21,27,False
16,10/21/2023,8,2,Sammy's Hammies,Jordan's Jorts,Blue,42:41,82206,74799,35,32,False
17,11/4/2023,9,1,The J-Team,The Steph Kuris,Blue,29:08,61369,47626,38,19,False
18,11/4/2023,9,2,The Steph Kuris,The J-Team,Red,32:17,63345,50777,27,19,False
19,11/12/2023,10,1,Team Streaks,Team Cupid,Red,39:10,74140,65845,29,20,False
20,11/12/2023,10,2,Team Cupid,Team Streaks,Red,42:34,79732,76864,41,29,False
21,11/12/2023,10,3,Team Streaks,Team Cupid,Red,27:28,59447,41945,33,11,False

### Round Up Game Length

In [7]:
gr['Length'] = pd.Series(l.split(':')[0] for l in gr['Length']).apply(int) + 1
gr

,Date,Series #,Game #,Blue Side,Red Side,Winning Side,Length,Winning Team Gold,Losing Team Gold,Winning Team Kills,Losing Team Kills,Forfeit
0,4/16/2023,1,1,Jason Nguyengards,Taewonnies,Blue,45,80254,74816,40,23,False
1,4/16/2023,2,1,Taewonnies,The Founders,Blue,37,70853,57956,32,18,False
2,4/16/2023,3,1,The Founders,Jason Nguyengards,Blue,41,74186,59663,31,13,False
3,4/30/2023,1,2,Taewonnies,Jason Nguyengards,Blue,27,52265,41261,29,11,False
4,4/30/2023,2,2,The Founders,Taewonnies,Red,36,66563,52974,27,12,False
5,9/2/2023,4,1,Quintessential Quintuplets,Taewonnies,Blue,26,48734,37377,31,9,False
6,9/2/2023,4,2,Taewonnies,Quintessential Quintuplets,Blue,27,35004,25886,18,8,True
7,9/2/2023,4,3,Quintessential Quintuplets,Taewonnies,Blue,35,68937,60256,32,22,False
8,9/23/2023,5,1,JSA EBOYS,Triple T,Red,37,68560,57739,29,20,False
9,9/23/2023,5,2,Triple T,JSA EBOYS,Red,65,128319,119728,50,41,False
10,9/29/2023,6,1,Basil's Dazzles,Liam's Premiums,Blue,32,63623,49905,37,15,False
11,9/29/2023,6,2,Liam's Premiums,Basil's Dazzles,Blue,29,63330,49871,38,23,False
12,9/29/2023,6,3,Basil's Dazzles,Liam's Premiums,Red,37,74209,70158,40,38,False
13,10/13/2023,7,1,Net Knights,Zazazoso Smokers,Blue,38,74039,70973,46,43,False
14,10/13/2023,7,2,Zazazoso Smokers,Net Knights,Red,33,62185,55959,23,23,False
15,10/21/2023,8,1,Jordan's Jorts,Sammy's Hammies,Red,32,61878,56471,21,27,False
16,10/21/2023,8,2,Sammy's Hammies,Jordan's Jorts,Blue,43,82206,74799,35,32,False
17,11/4/2023,9,1,The J-Team,The Steph Kuris,Blue,30,61369,47626,38,19,False
18,11/4/2023,9,2,The Steph Kuris,The J-Team,Red,33,63345,50777,27,19,False
19,11/12/2023,10,1,Team Streaks,Team Cupid,Red,40,74140,65845,29,20,False
20,11/12/2023,10,2,Team Cupid,Team Streaks,Red,43,79732,76864,41,29,False
21,11/12/2023,10,3,Team Streaks,Team Cupid,Red,28,59447,41945,33,11,False

In [9]:
# Wins
# Losses 
# Win Percentage 
# Kills *
# Deaths *
# Assists *
# KDA 
# CS *
# Vision Score *
# Fantasy Score *
# Average Score 
# Total Kills of Team 
# Kill Participation 
# Minutes Played 
# CS/Min 
# Average CS/Min 
# Average Kills
# Average Deaths 
# Average Assists

In [10]:
# ryan = raw_ps.loc[raw_ps['Player'] == 'Ryan'].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])
# ryan

In [11]:
# ryan_wins = np.count_nonzero((ryan['Blue Red'] == ryan['Winning Side']))
# print("wins:", ryan_wins)

# ryan_losses = np.count_nonzero((ryan['Blue Red'] == ryan['Winning Side']) == 0)
# print("Losses:", ryan_losses)

# print("Win Percentage:", ryan_wins / (ryan_wins + ryan_losses) * 100)

# ryan_kills = sum(ryan['Kills'])
# print('Kills:', ryan_kills)

# ryan_deaths = sum(ryan['Deaths'])
# print('Deaths:', ryan_deaths)

# ryan_assists = sum(ryan['Assists'])
# print('Assists:', ryan_assists)

# print("KDA:", (ryan_kills + ryan_assists) / ryan_deaths)

# ryan_cs = sum(ryan['CS'])
# print('CS:', ryan_cs)

# ryan_vision_score = sum(ryan['Vision Score'])
# print('Vision Score:', ryan_vision_score)

# ryan_fantasy_score = sum(ryan['Fantasy Score'])
# print('Fantasy Score:', ryan_fantasy_score)

# print('Average Fantasy Score:', ryan_fantasy_score / (ryan_wins + ryan_losses))

# ryan_total_kills = sum(ryan.loc[ryan['Blue Red'] == ryan['Winning Side']]['Winning Team Kills']) + sum(ryan.loc[(ryan['Blue Red'] == ryan['Winning Side']) == 0]['Losing Team Kills'])
# print('Total Kills of Team:', ryan_total_kills)

# print('Kill Participation:', (ryan_kills + ryan_assists) / ryan_total_kills) 

# ryan_minutes = sum(ryan['Length'])
# print('Minutes Played:', ryan_minutes) 

# ryan_csmin = sum(ryan['CS']) / ryan_minutes
# print('CS/Min:', ryan_csmin) 

# print('Average CS/Min:', ryan_csmin / (ryan_wins + ryan_losses)) 

# print('Average Kills:', ryan_kills / (ryan_wins + ryan_losses)) 

# print('Average Deaths:', ryan_deaths / (ryan_wins + ryan_losses)) 

# print('Average Assists', ryan_assists / (ryan_wins + ryan_losses))

# Player Stats

In [8]:
# return row of stats for given player

def get_stats(player, champion = False):
    
    if champion:
        ps_gr = raw_ps.loc[raw_ps['Champion'] == player].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])
    else:
        ps_gr = raw_ps.loc[raw_ps['Player'] == player].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])

    wins = np.count_nonzero((ps_gr['Blue Red'] == ps_gr['Winning Side']))

    losses = np.count_nonzero((ps_gr['Blue Red'] == ps_gr['Winning Side']) == 0)

    win_p = round(wins / (wins + losses), 3)

    kills = sum(ps_gr['Kills'])

    deaths = sum(ps_gr['Deaths'])

    assists = sum(ps_gr['Assists'])

    if deaths == 0:
        kda = kills + assists
    else:
        kda = round((kills + assists) / deaths, 3)

    cs = sum(ps_gr['CS'])

    vision_score = sum(ps_gr['Vision Score'])

    avg_vision_score = round(vision_score / (wins + losses), 3)

    fantasy_score = sum(ps_gr['Fantasy Score'])

    avg_fantasy_score = round(fantasy_score / (wins + losses), 3)

    total_kills = sum(ps_gr.loc[ps_gr['Blue Red'] == ps_gr['Winning Side']]['Winning Team Kills']) + sum(ps_gr.loc[(ps_gr['Blue Red'] == ps_gr['Winning Side']) == 0]['Losing Team Kills'])

    kp = round((kills + assists) / total_kills, 3)

    minutes = sum(ps_gr['Length'])

    csmin = round(sum(ps_gr['CS']) / minutes, 3)

    avg_kills = round(kills / (wins + losses), 3)

    avg_deaths = round(deaths / (wins + losses), 3)

    avg_assists = round(assists / (wins + losses), 3)

    kpm = round(kills / minutes, 3)

    dpm = round(deaths / minutes, 3)

    apm = round(assists / minutes, 3)

    damage_dealt = sum(ps_gr['Damage Dealt'])

    ddpm = round(damage_dealt / minutes, 3)

    return [player, wins, losses, win_p, kills, deaths, assists, kda, cs, vision_score, avg_vision_score, fantasy_score, avg_fantasy_score, total_kills, kp, minutes, csmin, avg_kills, avg_deaths, avg_assists, kpm, dpm, apm, damage_dealt, ddpm]

In [9]:
final_ps = pd.DataFrame(columns=['Player', 'Wins', 'Losses', 'Win Percentage', 'Kills', 'Deaths', 'Assists', 'KDA', 'CS', 'Vision Score', 'Average Vision Score', 'Fantasy Score', 'Average Score' , 'Total Kills of Team' , 'Kill Participation' , 'Minutes Played' , 'CS/Min' , 'Average Kills', 'Average Deaths', 'Average Assists', 'Kills/Minute', 'Deaths/Minute', 'Assists/Minute', 'Damage Dealt', 'DPM'])

In [10]:
for p in raw_ps['Player'].unique():
    final_ps.loc[len(final_ps)] = get_stats(p)

In [11]:
final_ps = final_ps.sort_values(by=['Average Score', 'Win Percentage', 'Wins'], ascending=False).reset_index(drop=True)
final_ps

,Player,Wins,Losses,Win Percentage,Kills,Deaths,Assists,KDA,CS,Vision Score,...,Minutes Played,CS/Min,Average Kills,Average Deaths,Average Assists,Kills/Minute,Deaths/Minute,Assists/Minute,Damage Dealt,DPM
0,Liam,3,6,0.333,83,52,96,3.442,2408,199,...,346,6.960,9.222,5.778,10.667,0.240,0.150,0.277,324415,937.616
1,Quio,10,7,0.588,118,85,164,3.318,3898,518,...,619,6.297,6.941,5.000,9.647,0.191,0.137,0.265,465630,752.229
2,Bobby,4,0,1.000,46,33,22,2.061,971,81,...,146,6.651,11.500,8.250,5.500,0.315,0.226,0.151,143990,986.233
3,Jason,5,4,0.556,56,42,89,3.452,2301,393,...,352,6.537,6.222,4.667,9.889,0.159,0.119,0.253,242915,690.099
4,Wilfred,2,1,0.667,24,14,20,3.143,842,63,...,111,7.586,8.000,4.667,6.667,0.216,0.126,0.180,70995,639.595
5,Jordan,6,4,0.600,82,52,64,2.808,2279,321,...,324,7.034,8.200,5.200,6.400,0.253,0.160,0.198,214540,662.160
6,Jason Canto,4,3,0.571,39,29,72,3.828,1239,190,...,249,4.976,5.571,4.143,10.286,0.157,0.116,0.289,139681,560.968
7,Anthony,14,7,0.667,170,119,146,2.655,4726,519,...,753,6.276,8.095,5.667,6.952,0.226,0.158,0.194,496744,659.687
8,Stephanie,0,2,0.000,15,10,12,2.700,415,28,...,63,6.587,7.500,5.000,6.000,0.238,0.159,0.190,45061,715.254
9,Hubert,6,11,0.353,101,96,167,2.792,2798,548,...,611,4.579,5.941,5.647,9.824,0.165,0.157,0.273,322011,527.023
10,Basil,8,6,0.571,92,70,102,2.771,3126,382,...,500,6.252,6.571,5.000,7.286,0.184,0.140,0.204,324554,649.108
11,Sean,1,1,0.500,15,12,11,2.167,583,68,...,78,7.474,7.500,6.000,5.500,0.192,0.154,0.141,51660,662.308
12,Declan,4,7,0.364,61,46,82,3.109,1968,271,...,362,5.436,5.545,4.182,7.455,0.169,0.127,0.227,223770,618.149
13,Woosung,6,12,0.333,74,107,205,2.607,2122,868,...,646,3.285,4.111,5.944,11.389,0.115,0.166,0.317,256953,397.760
14,Cobi,10,8,0.556,78,101,182,2.574,2587,475,...,655,3.950,4.333,5.611,10.111,0.119,0.154,0.278,330824,505.075
15,Eunice,1,2,0.333,9,15,30,2.600,495,186,...,114,4.342,3.000,5.000,10.000,0.079,0.132,0.263,48592,426.246
16,Sam,12,9,0.571,51,122,261,2.557,2104,1196,...,753,2.794,2.429,5.810,12.429,0.068,0.162,0.347,281765,374.190
17,Ryan,1,2,0.333,10,18,19,1.611,402,139,...,114,3.526,3.333,6.000,6.333,0.088,0.158,0.167,41281,362.114
18,Chris,3,5,0.375,14,31,50,2.065,1482,241,...,304,4.875,1.750,3.875,6.250,0.046,0.102,0.164,97519,320.786
19,Miggy,5,8,0.385,37,95,111,1.558,1389,228,...,495,2.806,2.846,7.308,8.538,0.075,0.192,0.224,130335,263.303
20,Hunter,2,2,0.500,10,16,15,1.562,543,73,...,125,4.344,2.500,4.000,3.750,0.080,0.128,0.120,50188,401.504
21,Meagan,0,1,0.000,2,6,6,1.333,24,71,...,36,0.667,2.000,6.000,6.000,0.056,0.167,0.167,12410,344.722
22,Bwosley,3,2,0.600,16,34,21,1.088,836,135,...,184,4.543,3.200,6.800,4.200,0.087,0.185,0.114,57670,313.424

In [12]:
final_ps.to_csv(cwd + '/ExportData/PlayerStats/HLCS_player_statistics_'+ date + '.csv', index=False)

# final_ps.to_csv(cwd + '/S2_HLCS_player_statistics.csv', index=False)

# Role Analysis

## Flexibility Scores

In [13]:
# ryan_roles = raw_ps[raw_ps['Player'] == 'Ryan']['Role'].value_counts()

# ryan_top = 0
# ryan_jungle = 0
# ryan_mid = 0
# ryan_bottom = 0
# ryan_support = 0

# for i in range(len(ryan_roles)):
#     match ryan_roles.index[i]:
#         case 'Top':
#             ryan_top = ryan_roles[i]
#         case 'Jungle':
#             ryan_jungle = ryan_roles[i]
#         case 'Mid':
#             ryan_mid = ryan_roles[i]
#         case 'Bottom':
#             ryan_bottom = ryan_roles[i]
#         case 'Support':
#             ryan_support = ryan_roles[i]

# ryan_flex_score = 1 - np.std([ryan_top, ryan_jungle, ryan_mid, ryan_bottom, ryan_support] / (ryan_top + ryan_jungle + ryan_mid + ryan_bottom + ryan_support), ddof=1)
# ryan_flex_score

In [13]:
def get_roles(player):
    roles = raw_ps[raw_ps['Player'] == player]['Role'].value_counts()

    top = 0
    jungle = 0
    mid = 0
    bottom = 0
    support = 0

    for i in range(len(roles)):
        match roles.index[i]:
            case 'Top':
                top = roles[i]
            case 'Jungle':
                jungle = roles[i]
            case 'Mid':
                mid = roles[i]
            case 'Bottom':
                bottom = roles[i]
            case 'Support':
                support = roles[i]

    flex_score = 1 - np.std([top, jungle, mid, bottom, support] / (top + jungle + mid + bottom + support), ddof=4)

    return [player, top, jungle, mid, bottom, support, flex_score]

In [14]:
flex_scores = pd.DataFrame(columns=['Player', 'Top', 'Jungle', 'Mid', 'Bottom', 'Support', 'Flex Score'])

for p in raw_ps['Player'].unique():
    flex_scores.loc[len(flex_scores)] = get_roles(p)

In [15]:
flex_scores = flex_scores.sort_values(by='Flex Score', ascending=False).reset_index(drop=True)
flex_scores

         Player  Top  Jungle  Mid  Bottom  Support  Flex Score
0          Quio    3       5    4       5        0    0.756042
1         Chris    3       2    1       0        2    0.714956
2   Jason Canto    1       0    2       3        1    0.674236
3          Ryan    0       1    1       0        1    0.634852
4         Jason    1       5    1       1        1    0.602477
5       Bwosley    2       0    2       0        1    0.600000
6        Jordan    3       5    0       2        0    0.575736
7       Woosung    3       6    0       0        9    0.565387
8           Sam    0       6    4       0       11    0.561491
9        Hubert    1       2    0      10        4    0.532362
10         Cobi    9       0    2       0        6    0.532362
11         Liam    0       5    1       3        0    0.518234
12    Stephanie    0       0    1       1        0    0.452277
13       Eunice    0       0    2       0        1    0.403715
14        Basil   10       3    1       0        0    0.398980
15       Declan    1       0    8       2        0    0.391520
16        Miggy    0       0    9       0        4    0.388474
17       Hunter    3       0    0       0        1    0.348080
18        Bobby    1       0    3       0        0    0.348080
19      Anthony    2       0    2      17        0    0.311909
20       Meagan    0       0    0       0        1    0.105573
21         Sean    0       2    0       0        0    0.105573
22      Wilfred    0       3    0       0        0    0.105573

In [16]:
flex_scores.to_csv(cwd + '/ExportData/FlexScores/HLCS_flex_scores_'+ date + '.csv', index=False)

## All-Pro

In [17]:
def get_role_scores(player):

    scores = [player]

    for r in ['Top', 'Jungle', 'Mid', 'Bottom', 'Support']:
        scores.append(np.sum(raw_ps[raw_ps['Player'] == player][raw_ps['Role'] == r]['Fantasy Score']))

    return scores

In [18]:
role_scores = pd.DataFrame(columns=['Player', 'Top', 'Jungle', 'Mid', 'Bottom', 'Support'])

for p in raw_ps['Player'].unique():
    role_scores.loc[len(role_scores)] = get_role_scores(p)

In [81]:
def get_player_champion_stats(player, champion):
    games = len(raw_ps[raw_ps['Player'] == player][raw_ps['Champion'] == champion])
    average_fantasy_score = round(np.mean(raw_ps[raw_ps['Player'] == player][raw_ps['Champion'] == champion]['Fantasy Score']), 3)
    variance = round(np.std(raw_ps[raw_ps['Player'] == player][raw_ps['Champion'] == champion]['Fantasy Score']), 3)

    return [player, champion, games, average_fantasy_score, variance]

In [82]:
player_champion_stats = pd.DataFrame(columns=['Player', 'Champion', 'Games Played', 'Average Fantasy Score', 'Standard Deviation'])

for p in np.unique(raw_ps['Player']):
    for c in np.unique(raw_ps[raw_ps['Player'] == p]['Champion']):
        player_champion_stats.loc[len(player_champion_stats)] = get_player_champion_stats(p, c)

In [87]:
player_champion_stats[player_champion_stats['Games Played'] > 1].sort_values(by='Average Fantasy Score', ascending=False)

,Player,Champion,Games Played,Average Fantasy Score,Standard Deviation
16,Basil,Kindred,2,54.120,24.500
3,Anthony,Jinx,4,49.405,13.804
110,Quio,Ezreal,2,48.525,39.875
5,Anthony,Kalista,2,44.450,49.860
56,Hubert,Jhin,3,44.130,26.842
143,Woosung,Lux,2,42.385,11.995
49,Declan,Syndra,3,41.137,16.884
4,Anthony,Kai'sa,5,37.430,20.863
113,Quio,Jax,2,37.385,2.695
119,Quio,Xayah,2,36.710,28.780
132,Sam,Swain,3,34.087,21.406
65,Hubert,Xayah,2,33.115,9.585
92,Jordan,Tryndamere,2,31.810,15.970
41,Cobi,Mordekaiser,2,29.595,7.135
90,Jordan,Rengar,3,28.157,6.644
36,Cobi,Blitzcrank,5,27.732,3.440
123,Sam,Amumu,5,27.468,12.770
48,Declan,Orianna,3,27.030,25.969
11,Basil,Gnar,4,26.442,10.368
55,Hubert,Ezreal,2,25.465,19.155
140,Woosung,Alistar,5,25.336,20.654
121,Ryan,Morgana,2,24.575,16.005
2,Anthony,Jhin,4,23.908,12.587
37,Cobi,Garen,5,22.310,10.767
111,Quio,Graves,2,21.990,4.720
148,Woosung,Vi,3,21.053,23.989
94,Liam,Bel'veth,2,19.130,19.350
17,Basil,Riven,2,18.290,18.750
64,Hubert,Vi,2,14.795,19.215
130,Sam,Rell,2,13.980,29.890
149,Woosung,Xin Zhao,2,10.680,5.880
106,Miggy,Seraphine,4,10.170,23.642
107,Miggy,Vex,4,9.822,17.803
128,Sam,Nautilus,5,9.762,12.497
102,Miggy,Galio,2,9.320,20.730
38,Cobi,Leona,2,1.790,16.750

In [48]:
champion_pool = pd.DataFrame(columns=['Player', 'Champions Played'])

played_champions = []
for p in np.unique(raw_ps['Player']):
    played_champions.append(len(np.unique(raw_ps[raw_ps['Player'] == p]['Champion'])))

champion_pool['Player'] = np.unique(raw_ps['Player'])
champion_pool['Champions Played'] = played_champions

champion_pool.sort_values(by='Champions Played', ascending=False)

         Player  Champions Played
16         Quio                13
8        Hubert                12
0       Anthony                10
18          Sam                10
22      Woosung                10
10        Jason                 9
1         Basil                 9
5          Cobi                 8
4         Chris                 8
13         Liam                 8
12       Jordan                 7
6        Declan                 7
11  Jason Canto                 7
15        Miggy                 6
3       Bwosley                 5
9        Hunter                 4
2         Bobby                 4
7        Eunice                 3
21      Wilfred                 3
17         Ryan                 2
19         Sean                 2
20    Stephanie                 2
14       Meagan                 1

# Champion Analysis

In [21]:
champs_ps = pd.DataFrame(columns=['Champion', 'Wins', 'Losses', 'Win Percentage', 'Kills', 'Deaths', 'Assists', 'KDA', 'CS', 'Vision Score', 'Average Vision Score', 'Fantasy Score', 'Average Score' , 'Total Kills of Team' , 'Kill Participation' , 'Minutes Played' , 'CS/Min' , 'Average Kills', 'Average Deaths', 'Average Assists', 'Kills/Minute', 'Deaths/Minute', 'Assists/Minute', 'Damage Dealt', 'DPM'])

for c in raw_ps['Champion'].unique():
    champs_ps.loc[len(champs_ps)] = get_stats(c, True)

In [22]:
champs_ps = champs_ps.sort_values(by=['Average Score', 'Win Percentage', 'Wins'], ascending=False).reset_index(drop=True)

In [23]:
champs_ps.filter(['Champion', 'Wins', 'Losses', 'Kills', 'Deaths', 'Assists', 'Fantasy', 'Average Score'])

     Champion  Wins  Losses  Kills  Deaths  Assists  Average Score
0   Gangplank     1       0     20       9        9         78.040
1       Shaco     1       0     15       4       10         71.750
2      Draven     1       0     14       3        8         66.820
3       Varus     1       1     25       9       18         58.085
4    Nocturne     1       0      5       4       22         57.100
..        ...   ...     ...    ...     ...      ...            ...
89     Gragas     0       1      0       3        1         -3.810
90     Anivia     0       1      0       3        0         -7.290
91      Milio     0       1      0       6        3         -9.410
92       Kayn     0       1      2       8        1        -11.190
93       Udyr     0       1      2       9        1        -14.180

[94 rows x 7 columns]

In [24]:
def champ_stats(champion, games):
    rd_gr = rd.loc[rd['Champion'] == champion].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])

    picks = np.count_nonzero(rd_gr['Pick Ban'] == 'Pick')

    bans = np.count_nonzero(rd_gr['Pick Ban'] == 'Ban')

    picked = rd_gr.loc[rd_gr['Pick Ban'] == 'Pick']
    wins = np.count_nonzero((picked['Blue Red'] == picked['Winning Side']))

    presence = round((picks + bans) / games, 3)

    pickrate = round(picks / games, 3)

    banrate = round(bans / games, 3)

    if len(picked) == 0:
        winrate = 0
    else:
        winrate = round(wins / len(picked), 3)

    return [champion, picks, bans, wins, presence, pickrate, banrate, winrate]

In [25]:
champ_pb = pd.DataFrame(columns=['Champion', 'Picks', 'Bans', 'Wins', 'Presence', 'Pickrate', 'Banrate', 'Winrate'])
                        
games = len(rd.filter(['Series #', 'Game #']).drop_duplicates().dropna())

for c in rd['Champion'].unique():
    champ_pb.loc[len(champ_pb)] = champ_stats(c, games)

In [26]:
champ_pb = champ_pb.sort_values('Champion').dropna().reset_index(drop=True)
champ_pb

     Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
0      Aatrox    1.0   0.0   0.0     0.045     0.045    0.000    0.000
1        Ahri    3.0   2.0   0.0     0.227     0.136    0.091    0.000
2       Akali    0.0   4.0   0.0     0.182     0.000    0.182    0.000
3     Alistar    6.0   1.0   3.0     0.318     0.273    0.045    0.500
4       Amumu    6.0   7.0   4.0     0.591     0.273    0.318    0.667
..        ...    ...   ...   ...       ...       ...      ...      ...
96   Xin Zhao    2.0   6.0   0.0     0.364     0.091    0.273    0.000
97      Yasuo    1.0   4.0   1.0     0.227     0.045    0.182    1.000
98        Zac    1.0   0.0   0.0     0.045     0.045    0.000    0.000
99        Zed    1.0   1.0   0.0     0.091     0.045    0.045    0.000
100     Ziggs    2.0   0.0   0.0     0.091     0.091    0.000    0.000

[101 rows x 8 columns]

In [27]:
champ_pb.to_csv(cwd + '/ExportData/PickBan/HLCS_pickban_'+ date + '.csv', index=False)

### Extra Analysis

In [28]:
raw_ps.sort_values('Fantasy Score', ascending=False)[0:10].drop(['Pick Ban', 'Blue Red', 'Order'], axis=1)

,Player,Role,Champion,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
241,Liam,Bottom,Varus,6,2,20,2,9,262,19,95.57,44100
427,Anthony,Bottom,Kalista,10,2,19,4,13,271,32,94.31,38152
196,Quio,Bottom,Ezreal,5,2,14,5,21,215,65,88.40,92134
18,Jason,Jungle,Jarvan IV,1,1,13,1,16,319,63,87.34,28766
290,Bobby,Mid,Quinn,7,1,23,10,8,172,28,81.12,43997
38,Basil,Jungle,Kindred,2,1,13,2,14,277,37,78.62,36150
208,Jason,Top,Gangplank,5,2,20,9,9,534,34,78.04,96769
354,Basil,Jungle,Shaco,8,2,15,4,10,240,27,71.75,44786
195,Liam,Bottom,Kai'sa,5,2,13,6,14,454,37,68.39,100643
153,Jordan,Bottom,Draven,4,3,14,3,8,247,27,66.82,33130

In [29]:
raw_ps.sort_values('Fantasy Score')[0:10].drop(['Pick Ban', 'Blue Red', 'Order'], axis=1)

,Player,Role,Champion,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
71,Miggy,Support,Seraphine,1,2,0,8,3,7,17,-17.08,2689
364,Sam,Jungle,Rell,9,1,0,10,6,94,23,-15.91,5033
113,Cobi,Support,Leona,4,1,0,10,7,24,16,-14.96,4766
430,Sam,Support,Nautilus,10,2,0,12,8,33,99,-14.72,7406
94,Ryan,Jungle,Udyr,2,2,2,9,1,167,23,-14.18,6718
217,Miggy,Mid,Galio,6,1,0,7,4,124,7,-11.41,6729
459,Jason,Jungle,Kayn,10,3,2,8,1,151,26,-11.19,5858
19,Cobi,Mid,Malzahar,1,1,1,11,7,277,21,-11.18,13549
458,Miggy,Mid,Vex,10,3,1,6,1,139,7,-10.26,11903
221,Hubert,Support,Milio,6,1,0,6,3,9,50,-9.41,3590

In [30]:
final_ps.sort_values(by=['Fantasy Score'], ascending=False).filter(['Player', 'Fantasy Score'])[0:5]

     Player  Fantasy Score
7   Anthony         688.21
1      Quio         609.88
9    Hubert         505.38
13  Woosung         449.62
16      Sam         440.84

In [31]:
old_pb = pd.read_csv(cwd + '\ExportData\PickBan\HLCS_pickban_11_7_2023.csv')
new_pb = pd.read_csv(cwd + '\ExportData\PickBan\HLCS_pickban_11_13_2023.csv')

set(old_pb[old_pb['Picks'] > 0]['Champion']).symmetric_difference(set(new_pb[new_pb['Picks'] > 0]['Champion']))

{'Aatrox', 'Kalista', 'Kayn', "Kha'zix", 'Nocturne', 'Zed'}

In [32]:
print(165 - len(new_pb[new_pb['Picks'] > 0]), "champions left.")

71 champions left.

In [33]:
new_pb[new_pb['Picks'] > 2].sort_values('Winrate', ascending=False)

       Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
24         Gnar    4.0   3.0   4.0     0.318     0.182    0.136    1.000
11   Blitzcrank    7.0  11.0   6.0     0.818     0.318    0.500    0.857
77        Swain    4.0   2.0   3.0     0.273     0.182    0.091    0.750
33         Jhin    7.0   3.0   5.0     0.455     0.318    0.136    0.714
4         Amumu    6.0   7.0   4.0     0.591     0.273    0.318    0.667
66       Rengar    3.0  13.0   2.0     0.727     0.136    0.591    0.667
46     Malphite    3.0  15.0   2.0     0.818     0.136    0.682    0.667
82      Trundle    3.0   7.0   2.0     0.455     0.136    0.318    0.667
31          Jax    3.0   4.0   2.0     0.318     0.136    0.182    0.667
34         Jinx    5.0   0.0   3.0     0.227     0.227    0.000    0.600
36       Kai'sa    7.0   5.0   4.0     0.545     0.318    0.227    0.571
30    Jarvan IV    4.0  12.0   2.0     0.727     0.182    0.545    0.500
3       Alistar    6.0   1.0   3.0     0.318     0.273    0.045    0.500
23        Garen    6.0   7.0   3.0     0.591     0.273    0.318    0.500
58      Orianna    4.0   2.0   2.0     0.273     0.182    0.091    0.500
54     Nautilus    7.0   1.0   3.0     0.364     0.318    0.045    0.429
90           Vi    5.0   5.0   2.0     0.455     0.227    0.227    0.400
70    Seraphine    5.0   0.0   2.0     0.227     0.227    0.000    0.400
26       Graves    3.0   5.0   1.0     0.364     0.136    0.227    0.333
50  Mordekaiser    3.0   7.0   1.0     0.455     0.136    0.318    0.333
51      Morgana    6.0   1.0   2.0     0.318     0.273    0.045    0.333
18       Ezreal    6.0   5.0   2.0     0.500     0.273    0.227    0.333
68      Sejuani    3.0   0.0   1.0     0.136     0.136    0.000    0.333
43        Leona    3.0   0.0   1.0     0.136     0.136    0.000    0.333
94        Xayah    4.0   3.0   1.0     0.318     0.182    0.136    0.250
78       Syndra    4.0   1.0   1.0     0.227     0.182    0.045    0.250
89          Vex    5.0   0.0   1.0     0.227     0.227    0.000    0.200
39       Kennen    3.0   1.0   0.0     0.182     0.136    0.045    0.000
1          Ahri    3.0   2.0   0.0     0.227     0.136    0.091    0.000