# Import Packages and Data

In [31]:
import pandas as pd
import numpy as np
import os

# Raw Data

In [32]:
cwd = os.getcwd()

date = '10_22_2023'

rd = pd.read_csv(cwd + '/ImportData/RawData/HLCS_RawData_'+ date + '.csv').rename(columns={'Death': 'Deaths'})

# rd['Player'][166] = 'Cobi'
# rd['Champion'][166] = 'Mordekaiser'

rd

,Player,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
0,NaN,Rengar,Ban,Blue,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
1,NaN,Xin Zhao,Ban,Red,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
2,NaN,Riven,Ban,Blue,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
3,NaN,Yasuo,Ban,Red,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
4,NaN,Jhin,Ban,Blue,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,NaN,Kai'sa,Ban,Blue,5.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
352,Hubert,Vi,Pick,Red,3.0,8.0,2.0,7.0,6.0,10.0,231.0,34.0,34.01,27251.0
353,Quio,Sion,Pick,Blue,3.0,8.0,2.0,5.0,8.0,13.0,350.0,25.0,26.75,51023.0
354,Basil,Shaco,Pick,Blue,3.0,8.0,2.0,15.0,4.0,10.0,240.0,27.0,71.75,44786.0
355,Jordan,Illaoi,Pick,Red,4.0,8.0,2.0,7.0,9.0,3.0,277.0,24.0,10.97,51472.0

### Clean Data

In [33]:
rd = rd.dropna(how='all')

# Season Selection
# rd = rd[rd['Series #'] >= 4]

rd

,Player,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
105,NaN,Malphite,Ban,Blue,1.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
106,NaN,Jarvan IV,Ban,Red,1.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
107,NaN,Rengar,Ban,Blue,2.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
108,NaN,Trundle,Ban,Red,2.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
109,NaN,Blitzcrank,Ban,Blue,3.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,NaN,Kai'sa,Ban,Blue,5.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN
352,Hubert,Vi,Pick,Red,3.0,8.0,2.0,7.0,6.0,10.0,231.0,34.0,34.01,27251.0
353,Quio,Sion,Pick,Blue,3.0,8.0,2.0,5.0,8.0,13.0,350.0,25.0,26.75,51023.0
354,Basil,Shaco,Pick,Blue,3.0,8.0,2.0,15.0,4.0,10.0,240.0,27.0,71.75,44786.0
355,Jordan,Illaoi,Pick,Red,4.0,8.0,2.0,7.0,9.0,3.0,277.0,24.0,10.97,51472.0

### Get Only Player Stats

In [34]:
raw_ps = rd.loc[rd['Pick Ban'] == 'Pick']
raw_ps

,Player,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
111,Woosung,Lux,Pick,Blue,1.0,4.0,1.0,6.0,2.0,17.0,43.0,39.0,54.38,18662.0
112,Anthony,Kai'sa,Pick,Red,1.0,4.0,1.0,5.0,7.0,3.0,153.0,8.0,6.93,11996.0
113,Cobi,Leona,Pick,Red,1.0,4.0,1.0,0.0,10.0,7.0,24.0,16.0,-14.96,4766.0
114,Hubert,Jhin,Pick,Blue,2.0,4.0,1.0,9.0,1.0,13.0,158.0,13.0,61.23,15579.0
115,Declan,Vladimir,Pick,Blue,2.0,4.0,1.0,4.0,2.0,12.0,129.0,15.0,36.04,13705.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,Liam,Ziggs,Pick,Red,2.0,8.0,2.0,7.0,6.0,12.0,312.0,21.0,38.17,53389.0
352,Hubert,Vi,Pick,Red,3.0,8.0,2.0,7.0,6.0,10.0,231.0,34.0,34.01,27251.0
353,Quio,Sion,Pick,Blue,3.0,8.0,2.0,5.0,8.0,13.0,350.0,25.0,26.75,51023.0
354,Basil,Shaco,Pick,Blue,3.0,8.0,2.0,15.0,4.0,10.0,240.0,27.0,71.75,44786.0
355,Jordan,Illaoi,Pick,Red,4.0,8.0,2.0,7.0,9.0,3.0,277.0,24.0,10.97,51472.0

### Convert to Int

In [35]:
for c in ['Order', 'Series #', 'Game #', 'Kills', 'Deaths', 'Assists', 'CS', 'Vision Score', 'Damage Dealt']:
    raw_ps[c] = raw_ps[c].apply(int)
raw_ps

C:\Users\ryanr\AppData\Local\Temp\ipykernel_9748\3379633771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_ps[c] = raw_ps[c].apply(int)

,Player,Champion,Pick Ban,Blue Red,Order,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
111,Woosung,Lux,Pick,Blue,1,4,1,6,2,17,43,39,54.38,18662
112,Anthony,Kai'sa,Pick,Red,1,4,1,5,7,3,153,8,6.93,11996
113,Cobi,Leona,Pick,Red,1,4,1,0,10,7,24,16,-14.96,4766
114,Hubert,Jhin,Pick,Blue,2,4,1,9,1,13,158,13,61.23,15579
115,Declan,Vladimir,Pick,Blue,2,4,1,4,2,12,129,15,36.04,13705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,Liam,Ziggs,Pick,Red,2,8,2,7,6,12,312,21,38.17,53389
352,Hubert,Vi,Pick,Red,3,8,2,7,6,10,231,34,34.01,27251
353,Quio,Sion,Pick,Blue,3,8,2,5,8,13,350,25,26.75,51023
354,Basil,Shaco,Pick,Blue,3,8,2,15,4,10,240,27,71.75,44786
355,Jordan,Illaoi,Pick,Red,4,8,2,7,9,3,277,24,10.97,51472

In [36]:
# player_stats2 = player_stats.copy()
# player_stats2['Fantasy Score'] = player_stats2['Kills']*4 - player_stats2['Deaths']*3 + player_stats2['Assists']*2 + player_stats2['CS']*0.01 + player_stats2['Vision Score']*0.05
# player_stats2

# Game Records

In [37]:
gr = pd.read_csv(cwd + '/ImportData/GameRecords/HLCS_GameRecords_'+ date + '.csv').dropna(axis=1)
gr

,Date,Series #,Game #,Blue Side,Red Side,Winning Side,Length,Winning Team Gold,Losing Team Gold,Winning Team Kills,Losing Team Kills,Forfeit
0,4/16/2023,1,1,Jason Nguyengards,Taewonnies,Blue,44:38,80254,74816,40,23,False
1,4/16/2023,2,1,Taewonnies,The Founders,Blue,36:32,70853,57956,32,18,False
2,4/16/2023,3,1,The Founders,Jason Nguyengards,Blue,40:58,74186,59663,31,13,False
3,4/30/2023,1,2,Taewonnies,Jason Nguyengards,Blue,26:40,52265,41261,29,11,False
4,4/30/2023,2,2,The Founders,Taewonnies,Red,35:36,66563,52974,27,12,False
5,9/2/2023,4,1,Quintessential Quintuplets,Taewonnies,Blue,25:07,48734,37377,31,9,False
6,9/2/2023,4,2,Taewonnies,Quintessential Quintuplets,Blue,26:07,35004,25886,18,8,True
7,9/2/2023,4,3,Quintessential Quintuplets,Taewonnies,Blue,34:54,68937,60256,32,22,False
8,9/23/2023,5,1,JSA EBOYS,Triple T,Red,36:40,68560,57739,29,20,False
9,9/23/2023,5,2,Triple T,JSA EBOYS,Red,64:35,128319,119728,50,41,False
10,9/29/2023,6,1,Basil's Dazzles,Liam's Premiums,Blue,31:00,63623,49905,37,15,False
11,9/29/2023,6,2,Liam's Premiums,Basil's Dazzles,Blue,28:55,63330,49871,38,23,False
12,9/29/2023,6,3,Basil's Dazzles,Liam's Premiums,Red,36:55,74209,70158,40,38,False
13,10/13/2023,7,1,Net Knights,Zazazoso Smokers,Blue,37:45,74039,70973,46,43,False
14,10/13/2023,7,2,Zazazoso Smokers,Net Knights,Red,32:21,62185,55959,23,23,False
15,10/21/2023,8,1,Jordan's Jorts,Sammy's Hammies,Red,31:15,61878,56471,21,27,False
16,10/21/2023,8,2,Sammy's Hammies,Jordan's Jorts,Blue,42:41,82206,74799,35,32,False

### Round Up Game Length

In [38]:
gr['Length'] = pd.Series(l.split(':')[0] for l in gr['Length']).apply(int) + 1
gr

,Date,Series #,Game #,Blue Side,Red Side,Winning Side,Length,Winning Team Gold,Losing Team Gold,Winning Team Kills,Losing Team Kills,Forfeit
0,4/16/2023,1,1,Jason Nguyengards,Taewonnies,Blue,45,80254,74816,40,23,False
1,4/16/2023,2,1,Taewonnies,The Founders,Blue,37,70853,57956,32,18,False
2,4/16/2023,3,1,The Founders,Jason Nguyengards,Blue,41,74186,59663,31,13,False
3,4/30/2023,1,2,Taewonnies,Jason Nguyengards,Blue,27,52265,41261,29,11,False
4,4/30/2023,2,2,The Founders,Taewonnies,Red,36,66563,52974,27,12,False
5,9/2/2023,4,1,Quintessential Quintuplets,Taewonnies,Blue,26,48734,37377,31,9,False
6,9/2/2023,4,2,Taewonnies,Quintessential Quintuplets,Blue,27,35004,25886,18,8,True
7,9/2/2023,4,3,Quintessential Quintuplets,Taewonnies,Blue,35,68937,60256,32,22,False
8,9/23/2023,5,1,JSA EBOYS,Triple T,Red,37,68560,57739,29,20,False
9,9/23/2023,5,2,Triple T,JSA EBOYS,Red,65,128319,119728,50,41,False
10,9/29/2023,6,1,Basil's Dazzles,Liam's Premiums,Blue,32,63623,49905,37,15,False
11,9/29/2023,6,2,Liam's Premiums,Basil's Dazzles,Blue,29,63330,49871,38,23,False
12,9/29/2023,6,3,Basil's Dazzles,Liam's Premiums,Red,37,74209,70158,40,38,False
13,10/13/2023,7,1,Net Knights,Zazazoso Smokers,Blue,38,74039,70973,46,43,False
14,10/13/2023,7,2,Zazazoso Smokers,Net Knights,Red,33,62185,55959,23,23,False
15,10/21/2023,8,1,Jordan's Jorts,Sammy's Hammies,Red,32,61878,56471,21,27,False
16,10/21/2023,8,2,Sammy's Hammies,Jordan's Jorts,Blue,43,82206,74799,35,32,False

In [39]:
# Wins
# Losses 
# Win Percentage 
# Kills *
# Deaths *
# Assists *
# KDA 
# CS *
# Vision Score *
# Fantasy Score *
# Average Score 
# Total Kills of Team 
# Kill Participation 
# Minutes Played 
# CS/Min 
# Average CS/Min 
# Average Kills
# Average Deaths 
# Average Assists

In [40]:
# ryan = raw_ps.loc[raw_ps['Player'] == 'Ryan'].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])
# ryan

In [41]:
# ryan_wins = np.count_nonzero((ryan['Blue Red'] == ryan['Winning Side']))
# print("wins:", ryan_wins)

# ryan_losses = np.count_nonzero((ryan['Blue Red'] == ryan['Winning Side']) == 0)
# print("Losses:", ryan_losses)

# print("Win Percentage:", ryan_wins / (ryan_wins + ryan_losses) * 100)

# ryan_kills = sum(ryan['Kills'])
# print('Kills:', ryan_kills)

# ryan_deaths = sum(ryan['Deaths'])
# print('Deaths:', ryan_deaths)

# ryan_assists = sum(ryan['Assists'])
# print('Assists:', ryan_assists)

# print("KDA:", (ryan_kills + ryan_assists) / ryan_deaths)

# ryan_cs = sum(ryan['CS'])
# print('CS:', ryan_cs)

# ryan_vision_score = sum(ryan['Vision Score'])
# print('Vision Score:', ryan_vision_score)

# ryan_fantasy_score = sum(ryan['Fantasy Score'])
# print('Fantasy Score:', ryan_fantasy_score)

# print('Average Fantasy Score:', ryan_fantasy_score / (ryan_wins + ryan_losses))

# ryan_total_kills = sum(ryan.loc[ryan['Blue Red'] == ryan['Winning Side']]['Winning Team Kills']) + sum(ryan.loc[(ryan['Blue Red'] == ryan['Winning Side']) == 0]['Losing Team Kills'])
# print('Total Kills of Team:', ryan_total_kills)

# print('Kill Participation:', (ryan_kills + ryan_assists) / ryan_total_kills) 

# ryan_minutes = sum(ryan['Length'])
# print('Minutes Played:', ryan_minutes) 

# ryan_csmin = sum(ryan['CS']) / ryan_minutes
# print('CS/Min:', ryan_csmin) 

# print('Average CS/Min:', ryan_csmin / (ryan_wins + ryan_losses)) 

# print('Average Kills:', ryan_kills / (ryan_wins + ryan_losses)) 

# print('Average Deaths:', ryan_deaths / (ryan_wins + ryan_losses)) 

# print('Average Assists', ryan_assists / (ryan_wins + ryan_losses))

# Player Stats

In [42]:
# return row of stats for given player

def get_stats(player, champion = False):
    
    if champion:
        ps_gr = raw_ps.loc[raw_ps['Champion'] == player].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])
    else:
        ps_gr = raw_ps.loc[raw_ps['Player'] == player].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])

    wins = np.count_nonzero((ps_gr['Blue Red'] == ps_gr['Winning Side']))

    losses = np.count_nonzero((ps_gr['Blue Red'] == ps_gr['Winning Side']) == 0)

    win_p = round(wins / (wins + losses), 3)

    kills = sum(ps_gr['Kills'])

    deaths = sum(ps_gr['Deaths'])

    assists = sum(ps_gr['Assists'])

    if deaths == 0:
        kda = kills + assists
    else:
        kda = round((kills + assists) / deaths, 3)

    cs = sum(ps_gr['CS'])

    vision_score = sum(ps_gr['Vision Score'])

    fantasy_score = sum(ps_gr['Fantasy Score'])

    avg_fantasy_score = round(fantasy_score / (wins + losses), 3)

    total_kills = sum(ps_gr.loc[ps_gr['Blue Red'] == ps_gr['Winning Side']]['Winning Team Kills']) + sum(ps_gr.loc[(ps_gr['Blue Red'] == ps_gr['Winning Side']) == 0]['Losing Team Kills'])

    kp = round((kills + assists) / total_kills, 3)

    minutes = sum(ps_gr['Length'])

    csmin = round(sum(ps_gr['CS']) / minutes, 3)

    avg_kills = round(kills / (wins + losses), 3)

    avg_deaths = round(deaths / (wins + losses), 3)

    avg_assists = round(assists / (wins + losses), 3)

    kpm = round(kills / minutes, 3)

    dpm = round(deaths / minutes, 3)

    apm = round(assists / minutes, 3)

    damage_dealt = sum(ps_gr['Damage Dealt'])

    ddpm = round(damage_dealt / minutes, 3)

    return [player, wins, losses, win_p, kills, deaths, assists, kda, cs, vision_score, fantasy_score, avg_fantasy_score, total_kills, kp, minutes, csmin, avg_kills, avg_deaths, avg_assists, kpm, dpm, apm, damage_dealt, ddpm]

In [43]:
final_ps = pd.DataFrame(columns=['Player', 'Wins', 'Losses', 'Win Percentage', 'Kills', 'Deaths', 'Assists', 'KDA', 'CS', 'Vision Score', 'Fantasy Score', 'Average Score' , 'Total Kills of Team' , 'Kill Participation' , 'Minutes Played' , 'CS/Min' , 'Average Kills', 'Average Deaths', 'Average Assists', 'Kills/Minute', 'Deaths/Minute', 'Assists/Minute', 'Damage Dealt', 'DPM'])

In [44]:
for p in raw_ps['Player'].unique():
    final_ps.loc[len(final_ps)] = get_stats(p)

In [45]:
final_ps = final_ps.sort_values(by=['Average Score', 'Win Percentage', 'Wins'], ascending=False).reset_index(drop=True)
final_ps

,Player,Wins,Losses,Win Percentage,Kills,Deaths,Assists,KDA,CS,Vision Score,...,Minutes Played,CS/Min,Average Kills,Average Deaths,Average Assists,Kills/Minute,Deaths/Minute,Assists/Minute,Damage Dealt,DPM
0,Jason,1,0,1.000,20,9,9,3.222,534,34,...,65,8.215,20.000,9.000,9.000,0.308,0.138,0.138,96769,1488.754
1,Liam,3,6,0.333,83,52,96,3.442,2408,199,...,346,6.960,9.222,5.778,10.667,0.240,0.150,0.277,324415,937.616
2,Declan,3,3,0.500,39,23,57,4.174,1007,119,...,186,5.414,6.500,3.833,9.500,0.210,0.124,0.306,127695,686.532
3,Bobby,4,0,1.000,46,33,22,2.061,971,81,...,146,6.651,11.500,8.250,5.500,0.315,0.226,0.151,143990,986.233
4,Hubert,5,7,0.417,74,68,139,3.132,1729,457,...,434,3.984,6.167,5.667,11.583,0.171,0.157,0.320,220639,508.385
5,Quio,5,5,0.500,66,58,100,2.862,2158,284,...,363,5.945,6.600,5.800,10.000,0.182,0.160,0.275,290107,799.193
6,Jordan,4,4,0.500,66,45,47,2.511,1769,262,...,261,6.778,8.250,5.625,5.875,0.253,0.172,0.180,176812,677.441
7,Woosung,4,6,0.400,45,62,129,2.806,969,498,...,359,2.699,4.500,6.200,12.900,0.125,0.173,0.359,150878,420.273
8,Basil,3,4,0.429,45,43,53,2.279,1453,170,...,244,5.955,6.429,6.143,7.571,0.184,0.176,0.217,161364,661.328
9,Anthony,8,4,0.667,80,75,85,2.200,2638,280,...,434,6.078,6.667,6.250,7.083,0.184,0.173,0.196,291126,670.797
10,Sam,7,5,0.583,36,71,157,2.718,1262,632,...,434,2.908,3.000,5.917,13.083,0.083,0.164,0.362,193507,445.869
11,Jason Canto,0,2,0.000,5,10,25,3.000,223,98,...,75,2.973,2.500,5.000,12.500,0.067,0.133,0.333,27831,371.080
12,Cobi,4,5,0.444,48,54,75,2.278,1304,221,...,336,3.881,5.333,6.000,8.333,0.143,0.161,0.223,190336,566.476
13,Miggy,3,4,0.429,24,45,73,2.156,1046,74,...,271,3.860,3.429,6.429,10.429,0.089,0.166,0.269,85374,315.033
14,Chris,2,3,0.400,10,22,36,2.091,818,165,...,190,4.305,2.000,4.400,7.200,0.053,0.116,0.189,58265,306.658
15,Hunter,2,2,0.500,10,16,15,1.562,543,73,...,125,4.344,2.500,4.000,3.750,0.080,0.128,0.120,50188,401.504
16,Bwosley,2,0,1.000,4,17,11,0.882,266,54,...,71,3.746,2.000,8.500,5.500,0.056,0.239,0.155,26795,377.394

In [46]:
final_ps.to_csv(cwd + '/ExportData/PlayerStats/HLCS_player_statistics_'+ date + '.csv', index=False)

# final_ps.to_csv(cwd + '/S2_HLCS_player_statistics.csv', index=False)

# Champion Analysis

In [17]:
champs_ps = pd.DataFrame(columns=['Champion', 'Wins', 'Losses', 'Win Percentage', 'Kills', 'Deaths', 'Assists', 'KDA', 'CS', 'Vision Score', 'Fantasy Score', 'Average Score' , 'Total Kills of Team' , 'Kill Participation' , 'Minutes Played' , 'CS/Min' , 'Average Kills', 'Average Deaths', 'Average Assists', 'Kills/Minute', 'Deaths/Minute', 'Assists/Minute', 'Damage Dealt', 'DPM'])

for c in raw_ps['Champion'].unique():
    champs_ps.loc[len(champs_ps)] = get_stats(c, True)

In [18]:
champs_ps = champs_ps.sort_values(by=['Average Score', 'Win Percentage', 'Wins'], ascending=False).reset_index(drop=True)

In [19]:
champs_ps.filter(['Champion', 'Wins', 'Losses', 'Kills', 'Deaths', 'Assists', 'Fantasy', 'Average Score'])

     Champion  Wins  Losses  Kills  Deaths  Assists  Average Score
0       Varus     1       0     20       2        9          95.57
1   Gangplank     1       0     20       9        9          78.04
2       Shaco     1       0     15       4       10          71.75
3      Draven     1       0     14       3        8          66.82
4      Lillia     1       0     14       8       15          66.04
..        ...   ...     ...    ...     ...      ...            ...
77      Urgot     0       1      1       6        3          -4.79
78     Anivia     0       1      0       3        0          -7.29
79      Milio     0       1      0       6        3          -9.41
80   Malzahar     0       1      1      11        7         -11.18
81       Udyr     0       1      2       9        1         -14.18

[82 rows x 7 columns]

In [20]:
def champ_stats(champion, games):
    rd_gr = rd.loc[rd['Champion'] == champion].join(gr.set_index(['Series #', 'Game #']), on=['Series #', 'Game #'])

    picks = np.count_nonzero(rd_gr['Pick Ban'] == 'Pick')

    bans = np.count_nonzero(rd_gr['Pick Ban'] == 'Ban')

    picked = rd_gr.loc[rd_gr['Pick Ban'] == 'Pick']
    wins = np.count_nonzero((picked['Blue Red'] == picked['Winning Side']))

    presence = round((picks + bans) / games, 3)

    pickrate = round(picks / games, 3)

    banrate = round(bans / games, 3)

    if len(picked) == 0:
        winrate = 0
    else:
        winrate = round(wins / len(picked), 3)

    return [champion, picks, bans, wins, presence, pickrate, banrate, winrate]

In [21]:
champ_pb = pd.DataFrame(columns=['Champion', 'Picks', 'Bans', 'Wins', 'Presence', 'Pickrate', 'Banrate', 'Winrate'])
                        
games = len(rd.filter(['Series #', 'Game #']).drop_duplicates().dropna())

for c in rd['Champion'].unique():
    champ_pb.loc[len(champ_pb)] = champ_stats(c, games)

In [22]:
champ_pb = champ_pb.sort_values('Champion').dropna().reset_index(drop=True)
champ_pb

    Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
0       Ahri    3.0   2.0   0.0     0.294     0.176    0.118    0.000
1      Akali    0.0   4.0   0.0     0.235     0.000    0.235    0.000
2    Alistar    4.0   0.0   2.0     0.235     0.235    0.000    0.500
3      Amumu    6.0   5.0   4.0     0.647     0.353    0.294    0.667
4     Anivia    1.0   0.0   0.0     0.059     0.059    0.000    0.000
..       ...    ...   ...   ...       ...       ...      ...      ...
87  Xin Zhao    2.0   6.0   0.0     0.471     0.118    0.353    0.000
88     Yasuo    1.0   4.0   1.0     0.294     0.059    0.235    1.000
89       Zac    1.0   0.0   0.0     0.059     0.059    0.000    0.000
90       Zed    0.0   1.0   0.0     0.059     0.000    0.059    0.000
91     Ziggs    2.0   0.0   0.0     0.118     0.118    0.000    0.000

[92 rows x 8 columns]

In [23]:
champ_pb.to_csv(cwd + '/ExportData/PickBan/HLCS_pickban_'+ date + '.csv', index=False)

### Extra Analysis

In [24]:
raw_ps.sort_values('Fantasy Score', ascending=False)[0:10].drop(['Pick Ban', 'Blue Red', 'Order'], axis=1)

,Player,Champion,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
241,Liam,Varus,6,2,20,2,9,262,19,95.57,44100
196,Quio,Ezreal,5,2,14,5,21,215,65,88.40,92134
18,Jason,Jarvan IV,1,1,13,1,16,319,63,87.34,28766
290,Bobby,Quinn,7,1,23,10,8,172,28,81.12,43997
38,Basil,Kindred,2,1,13,2,14,277,37,78.62,36150
208,Jason,Gangplank,5,2,20,9,9,534,34,78.04,96769
354,Basil,Shaco,8,2,15,4,10,240,27,71.75,44786
195,Liam,Kai'sa,5,2,13,6,14,454,37,68.39,100643
153,Jordan,Draven,4,3,14,3,8,247,27,66.82,33130
271,Liam,Lillia,6,3,14,8,15,274,26,66.04,41688

In [25]:
raw_ps.sort_values('Fantasy Score')[0:10].drop(['Pick Ban', 'Blue Red', 'Order'], axis=1)

,Player,Champion,Series #,Game #,Kills,Deaths,Assists,CS,Vision Score,Fantasy Score,Damage Dealt
71,Miggy,Seraphine,1,2,0,8,3,7,17,-17.08,2689
113,Cobi,Leona,4,1,0,10,7,24,16,-14.96,4766
94,Ryan,Udyr,2,2,2,9,1,167,23,-14.18,6718
217,Miggy,Galio,6,1,0,7,4,124,7,-11.41,6729
19,Cobi,Malzahar,1,1,1,11,7,277,21,-11.18,13549
221,Hubert,Milio,6,1,0,6,3,9,50,-9.41,3590
137,Declan,Anivia,4,2,0,3,0,136,7,-7.29,1126
70,Jason,Ziggs,1,2,1,7,4,177,17,-6.38,15655
185,Hunter,Urgot,5,1,1,6,3,211,22,-4.79,15283
53,Miggy,Pyke,3,1,2,7,3,36,39,-4.69,3695

In [26]:
final_ps.sort_values(by=['Fantasy Score'], ascending=False).filter(['Player', 'Fantasy Score'])[0:5]

     Player  Fantasy Score
5    Hubert         504.83
8   Anthony         499.64
4      Quio         478.87
0      Liam         402.03
11      Sam         396.34

In [47]:
old_pb = pd.read_csv(cwd + '\ExportData\PickBan\HLCS_pickban_10_16_2023.csv')
old_pb

    Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
0       Ahri    2.0   2.0   0.0     0.267     0.133    0.133    0.000
1      Akali    0.0   3.0   0.0     0.200     0.000    0.200    0.000
2    Alistar    4.0   0.0   2.0     0.267     0.267    0.000    0.500
3      Amumu    6.0   3.0   4.0     0.600     0.400    0.200    0.667
4     Anivia    1.0   0.0   0.0     0.067     0.067    0.000    0.000
..       ...    ...   ...   ...       ...       ...      ...      ...
83  Xin Zhao    2.0   6.0   0.0     0.533     0.133    0.400    0.000
84     Yasuo    0.0   4.0   0.0     0.267     0.000    0.267    0.000
85       Zac    1.0   0.0   0.0     0.067     0.067    0.000    0.000
86       Zed    0.0   1.0   0.0     0.067     0.000    0.067    0.000
87     Ziggs    1.0   0.0   0.0     0.067     0.067    0.000    0.000

[88 rows x 8 columns]

In [48]:
new_pb = pd.read_csv(cwd + '\ExportData\PickBan\HLCS_pickban_10_22_2023.csv')
new_pb

    Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
0       Ahri    3.0   2.0   0.0     0.294     0.176    0.118    0.000
1      Akali    0.0   4.0   0.0     0.235     0.000    0.235    0.000
2    Alistar    4.0   0.0   2.0     0.235     0.235    0.000    0.500
3      Amumu    6.0   5.0   4.0     0.647     0.353    0.294    0.667
4     Anivia    1.0   0.0   0.0     0.059     0.059    0.000    0.000
..       ...    ...   ...   ...       ...       ...      ...      ...
87  Xin Zhao    2.0   6.0   0.0     0.471     0.118    0.353    0.000
88     Yasuo    1.0   4.0   1.0     0.294     0.059    0.235    1.000
89       Zac    1.0   0.0   0.0     0.059     0.059    0.000    0.000
90       Zed    0.0   1.0   0.0     0.059     0.000    0.059    0.000
91     Ziggs    2.0   0.0   0.0     0.118     0.118    0.000    0.000

[92 rows x 8 columns]

In [52]:
new_pb[new_pb['Picks'] > 0]

    Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
0       Ahri    3.0   2.0   0.0     0.294     0.176    0.118    0.000
2    Alistar    4.0   0.0   2.0     0.235     0.235    0.000    0.500
3      Amumu    6.0   5.0   4.0     0.647     0.353    0.294    0.667
4     Anivia    1.0   0.0   0.0     0.059     0.059    0.000    0.000
5      Annie    1.0   0.0   0.0     0.059     0.059    0.000    0.000
..       ...    ...   ...   ...       ...       ...      ...      ...
86    Xerath    1.0   0.0   1.0     0.059     0.059    0.000    1.000
87  Xin Zhao    2.0   6.0   0.0     0.471     0.118    0.353    0.000
88     Yasuo    1.0   4.0   1.0     0.294     0.059    0.235    1.000
89       Zac    1.0   0.0   0.0     0.059     0.059    0.000    0.000
91     Ziggs    2.0   0.0   0.0     0.118     0.118    0.000    0.000

[82 rows x 8 columns]

In [51]:
set(old_pb[old_pb['Picks'] > 0]['Champion']).symmetric_difference(set(new_pb[new_pb['Picks'] > 0]['Champion']))

{'Rakan', 'Shaco', 'Sion', 'Sivir', 'Veigar', 'Yasuo'}

In [57]:
new_pb[new_pb['Picks'] > 2].sort_values('Winrate', ascending=False)

       Champion  Picks  Bans  Wins  Presence  Pickrate  Banrate  Winrate
20         Gnar    3.0   2.0   3.0     0.294     0.176    0.118    1.000
8    Blitzcrank    6.0   7.0   5.0     0.765     0.353    0.412    0.833
29         Jhin    6.0   3.0   5.0     0.529     0.353    0.176    0.833
68        Swain    4.0   2.0   3.0     0.353     0.235    0.118    0.750
73      Trundle    3.0   7.0   2.0     0.588     0.176    0.412    0.667
3         Amumu    6.0   5.0   4.0     0.647     0.353    0.294    0.667
26    Jarvan IV    3.0   8.0   2.0     0.647     0.176    0.471    0.667
19        Garen    5.0   3.0   3.0     0.471     0.294    0.176    0.600
30         Jinx    5.0   0.0   3.0     0.294     0.294    0.000    0.600
48     Nautilus    4.0   1.0   2.0     0.294     0.235    0.059    0.500
81           Vi    4.0   3.0   2.0     0.412     0.235    0.176    0.500
2       Alistar    4.0   0.0   2.0     0.235     0.235    0.000    0.500
62    Seraphine    4.0   0.0   2.0     0.235     0.235    0.000    0.500
32       Kai'sa    5.0   5.0   2.0     0.588     0.294    0.294    0.400
46      Morgana    6.0   1.0   2.0     0.412     0.353    0.059    0.333
61      Sejuani    3.0   0.0   1.0     0.176     0.176    0.000    0.333
45  Mordekaiser    3.0   6.0   1.0     0.529     0.176    0.353    0.333
80          Vex    3.0   0.0   1.0     0.176     0.176    0.000    0.333
69       Syndra    3.0   0.0   1.0     0.176     0.176    0.000    0.333
38        Leona    3.0   0.0   1.0     0.176     0.176    0.000    0.333
85        Xayah    4.0   3.0   1.0     0.412     0.235    0.176    0.250
14       Ezreal    5.0   3.0   1.0     0.471     0.294    0.176    0.200
0          Ahri    3.0   2.0   0.0     0.294     0.176    0.118    0.000